@charset "utf-8";
// 배포 국가
$langType:'kr' !default;

// 경로 정의
$path-base-img:'../images/';
$path-common-img: $path-base-img + 'common/';
$path-contents-img: $path-base-img + 'contents/';
$path-web-font: null;

// psd 가로 크기 정의(vw 단위 변환을 위한)
$psd-pc-width:           1920px !default;
$psd-tablet-width:       1280px !default;
$psd-mobile-width:       960px !default;

// 컨텐츠 좌우 여백 정의
$pc-lr-padding : 150px;
$mobile-lr-padding : 50px;





