@charset "utf-8";

// type - hexagon with image
.el-comp-hex-img {
    display:inline-block; position:relative; @include convert-pc-tb(margin, 0 10); text-align:center;

    //// icon only for hex img
    .ico-new {
        @extend .ico-reset;
        display:none;
        position:absolute; top:0; left:0; line-height:1;
        &-txt {
            @extend .ico-reset;
            position:absolute; @include convert-pc-tb(top, 18); @include convert-pc-tb(left, 0);
            @include font-pc-tb(mheavy, 18); color:#ffd64f;
        }
    }
    &.item-new {
        position:relative;
        .ico-new {
            display:block;
        }
    }
    //// icon only for hex img

    a {
        display:block; outline:none;

        @at-root .desktop & {
            &:hover {}
            &:focus {}
        }
    }
    .item-img {
        position:relative; @include convert-pc-tb(width, 290); @include convert-pc-tb(height, 334);
        @include convert-pc-tb(padding-right, 15); box-sizing:content-box;
        transform:translate3d(0,0,0);
        .hex-cont {
            .hexagon-image-wrap {background-color:#000;}
            .hexagon-image {transform-origin:50% 50%; transition:transform 0.4s ease-out;}
        }
        .hex-ct-cont {
            position:absolute; @include convert-pc-tb(width,60); @include convert-pc-tb(height,70); @include convert-pc-tb(margin-bottom, 58);
            bottom:0; right:0; transform:translate3d(0, 0, 0);
            .hexagon {@include convert-pc-tb(font-size, 70);}
        }
    }
    .item-tit {
        display:inline-block; position:relative; @include convert-pc-tb(width, 260);
        @include convert-pc-tb(margin-top, 30); @include convert-pc-tb(margin-left,-26);
        //text-align:left;
        .txt-name {
            display:block; //transform:translate3d(0, -50%, 0);
            text-align:center; @include font-pc-tb(700, 30, 30); color:#fff;
        }
        .txt-info {
            @include convert-pc-tb(margin-top, 15);
            &_item {
                display:inline-block; position:relative; //@include convert-pc-tb(padding-left, 26);
                @include convert-pc-tb(margin, 0 7); font-size:0; opacity:0.8;
                &.subscriber {}

                .hex-cont-small {
                    display:inline-block; position:relative; vertical-align:middle;
                    @include convert-pc-tb(width,20);
                    @include convert-pc-tb(height,23);
                    .hexagon {
                        @include convert-pc-tb(font-size,23);
                    }
                    .sns-icon-wrap {
                        display:inline-block; position:absolute; padding:0;
                        top:50%; left:50%; transform:translate3d(-50%, -50%, 0);
                        span {display:inline-block;}
                        // icon
                        [class^="ico-sns-youtube"] {@include font-pc-tb('', 12);}
                        [class^="ico-sns-twitch"] {@include font-pc-tb('', 11);}
                        [class^="ico-sns-tiktok"] {@include font-pc-tb('', 12);}
                    }
                    span {display:block;}
                }
                .txt {
                    display:inline-block; @include convert-pc-tb(margin-left,6);
                    @include font-pc-tb(500, 20); color:#fff; vertical-align:middle;
                }

            }
        }
    }

    .item-hex-txt {
        display:inline-block; position:absolute; width:100%; height:auto; bottom:0; left:0; right:0;
        @include convert-pc-tb(margin-bottom,50); text-align:center;
        .tag {
            display:block;
            .txt-box {
                display:inline-block; width:auto; height:auto; @include convert-pc-tb(padding,5 10 3);
                @include font-pc-tb('', 14, 14); letter-spacing:-0.025em; background-color:#c2393f; color:#fff;
            }
        }
        .txt-name-en {
            display:block; @include convert-pc-tb(margin-top,1); @include font-pc-tb(mheavy, 38, 38);
            letter-spacing:-0.025em; text-transform:uppercase; color:#fff;
        }
        .txt-name-kr {
            display:block; @include convert-pc-tb(margin-top,8);
            @include font-pc-tb(900, 18, 18); letter-spacing:-0.025em; color:#fff;
        }
    }

    // details
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {margin-top:0;}
    &:nth-last-child(1),
    &:nth-last-child(2),
    &:nth-last-child(3) {margin-bottom:0;}

    // custom type - inner bottom gradient shadow
    &.type-hex-bot-shadow {
        .hexagon-image:after {
            display:block; content:''; position:absolute; width:100%; height:44.5%;
            right:0; bottom:0; left:0;
            background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(41,37,38,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(41,37,38,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(41,37,38,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#292526',GradientType=0 ); /* IE6-9 */
        }
    }
    // custom type - hexagon image shadow
    &.type-hex-shadow {
        .item-img {
            &:before {
                display:block;
                content:'';
                position:absolute;
                @include convert-pc-tb(width,376);
                @include convert-pc-tb(height,396);
                top:0; left:0;
                @include convert-pc-tb(margin-top,-8);
                @include convert-pc-tb(margin-left,-60);
                background:{repeat:no-repeat; position:center center; size:100%;  image:url($path-common-img + "hexagon_shadow.png")};
            }
        }
    }
}

// type - card
.el-comp-card { transition : transform 0.25s $ease-out-quad; transform:translateY(0);
    display:inline-block; position:relative; @include convert-pc-tb(width, 310);@include convert-pc-tb(height, 482); vertical-align:top;
    @include convert-pc-tb(margin, 12); @include convert-pc-tb(padding, 38 30 48 38); //margin:1.275%;
    background-color:#fff;

    //// icon only for card
    .ico-new {
        @extend .ico-reset;
        display:none;
        position:absolute; top:0; left:0; line-height:1;
        &-txt {
            @extend .ico-reset;
            position:absolute; @include convert-pc-tb(top, 10); @include convert-pc-tb(left, 14);@include font-pc-tb(mheavy, 21); color:#fff;
        }
        &:before {
            @extend .ico-reset;
            display:block;
            content:'';
            position:absolute;
            width:0; height:0;
            top:0; left:0;
            @include convert-pc-tb(border-top-width, 56);
            @include convert-pc-tb(border-right-width, 96);
            border-top-style:solid;
            border-top-color:$sd-pink;
            border-right-style:solid;
            border-right-color:transparent;
        }
    }
    &.item-new {
        position:relative;
        .ico-new {
            display:block;
        }
    }
    &.item-sorting {
        .ico-sort {
            @extend .ico-reset;
            display:block; position:absolute;
            @include convert-pc-tb(top, 35); @include convert-pc-tb(right, 30);
            line-height:1; text-align:right;
            &-txt {
                @extend .ico-reset;
                display:inline-block; @include font-pc-tb(mheavy, 12); letter-spacing:0.02em; text-transform:uppercase;
                color:#1a2939;
            }
        }

        &.sort-august {
            .ico-sort-txt {}
        }
        &.sort-creator {
            .ico-sort-txt {}
        }
    }
    //// icon only for card

    a {display:block; width:100%; height:100%;
        @at-root .desktop & {
            &:hover {
                .item-text {
                    .txt-tit {  }
                }
            }
            &:focus {}
        }
    }
    .item-text {
        position:relative; height:100%; @include convert-pc-tb(padding-top, 154);
        .txt-tit {
            display:block; width:100%; @include convert-pc-tb(height, 60); @include font-pc-tb(900, 20, 30); letter-spacing:-0.055em;
            white-space:nowrap; overflow:hidden; text-overflow:ellipsis; color:#1a2939;
        }
        .txt-desc {
            display:-webkit-box; width:100%; @include convert-pc-tb(height, 96); @include convert-pc-tb(margin-top, 24);
            @include font-pc-tb(400, 14, 24); letter-spacing:-0.055em; word-break:break-all; text-align:justify;
            white-space:normal; overflow:hidden; text-overflow:ellipsis;
            -webkit-line-clamp:4; -webkit-box-orient:vertical; color:#3c3d60;
        }
        .txt-date {
            position:absolute; bottom:0; left:0; @include font-pc-tb(mxlight, 16); color:#3b4057;
            .month,
            .day {@include convert-pc-tb(margin-left, 5);}
        }
    }

    .item-img {
        position:absolute; @include convert-pc-tb(top, 38); @include convert-pc-tb(left, 38);
        @include convert-pc-tb(width, 120); @include convert-pc-tb(height, 140);
        span {display:block;}

        .hexagon-image-wrap {
            position:relative; background-color:#e8e8e8;
            &:before{
                display:block; content:''; position: absolute;
                width:100%; height:50%; top:25%; left:0;
                background:{repeat:no-repeat; size:cover; position:center center; image: url($path-common-img + "card_hexagon_default.jpg");};
            }
        }
    }

    // details
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3){@include convert-pc-tb(margin-top,0);}
    &:nth-last-child(1),
    &:nth-last-child(2),
    &:nth-last-child(3) {@include convert-pc-tb(margin-bottom,0);}

    &:nth-child(3n+1) {@include convert-pc-tb(margin-left,0);}
    &:nth-child(3n+0) {@include convert-pc-tb(margin-right,0);}

    @at-root .desktop & {
        //&:hover{ transform:translateY(-10px);  }
    }
}

// card list wrapper type - 3col
.wrap-type-col-3 {
    font-size:0;
    .el-comp-card {
        width:31.63%; @include convert-pc-tb(height, 482);

        @extend .type-card-shadow;
    }
}

// type- card shadow
.type-card-shadow {
    -webkit-box-shadow: 0 25px 35px 0 rgba(0,0,0,0.05);
    -moz-box-shadow: 0 25px 35px 0 rgba(0,0,0,0.05);
    box-shadow: 0 25px 35px 0 rgba(0,0,0,0.05);
}

// type- card (img + txt)
.el-comp-img-txt-card {
    position:relative; @include convert-pc-tb(width, 310); @include convert-pc-tb(height, 278);
    background-color:#fff; box-shadow: 0 25px 35px 0 rgba(0, 0, 0, 0.05);

    .img-box {
        width:100%; @include convert-pc-tb(height, 174); overflow:hidden;
        .img {
            background:{ image:url('/assets/images/pc/template/txt_card_default.png'); repeat: no-repeat; size:cover; }
            width:100%; height:100%; background:{ size:100% 100%; repeat: no-repeat; position:center;}
            transition:transform 0.3s $ease-in-out-quad;
        }
    }
    .txt-box {
        position:relative; @include convert-pc-tb(height, 104); margin: 0;
        .txt-tit {
            display:block; position:absolute; width:84.625%; @include convert-pc-tb(height, 46);
            left:5.8%; top:18%; color:$sd-black;
            @include font-pc-tb(900,16,22); letter-spacing:-0.05em;
            overflow:hidden; word-break: break-all; text-overflow: ellipsis;
        }
        .txt-name {
            position:absolute; left:5.8%; bottom:14.8%; display:block; color:#3c3d60;
            @include font-pc-tb(400,14,24); letter-spacing:-0.045em;
            opacity:0.7;
        }
    }
}

// card list wrapper type  - card (img+txt)
.img-txt-card-list-wrap {
    @include convert-pc-tb(margin-top, 46);
    font-size:0; opacity:0;

    .list-item {
        display:inline-block; width:percentage(310 /980);
        margin:0 percentage(25/980) percentage(25/980) 0;

        a{
            .el-comp-img-txt-card {
                width:100%;
            }
            @at-root .desktop & {
                &:hover{
                    .el-comp-img-txt-card {
                        .img-box{
                            .img{ transform:scale(1.07); }
                        }
                    }
                }
            }
        }

        &:nth-child(3n) {margin-right:0;}
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {margin-bottom:0;}
    }

    &.onTrans{
        opacity: 1;
        transition: opacity 0.6s;
    }
}
.img-txt-card-list-wrap + .page-indicator {@include convert-pc-tb(margin-top,64);}

// type - table (2col - img,text)
.table-list-wrap {
    position:relative; font-size:0;

    .tb-2-col-item {
        width:100%; font-size:0;
        &:nth-child(even) {
            .item-img {
                width:29.6%;
            }
            .item-text {
                width:70.4%;
            }
        }
    }

    .list-item {
        @include convert-pc-tb(padding,20 0);

        &:first-child {padding-top:0;}
        &:last-child {padding-bottom:0;}
    }

    .item-img {
        display:inline-block; position:relative; width:33.87%; vertical-align:top;
        .hex-number-cont {
            position:absolute; top:0; left:0;
            @include convert-pc-tb(width, 42);
            @include convert-pc-tb(height, 47);
            .txt-wrap {@include font-pc-tb('', 20,20);}
            .hexagon {@include font-pc-tb('', 47);}
        }
        figure {
            width:100%; padding-top:100%;
            background:{repeat:no-repeat; position:center center; size:contain;};
        }
    }
    .item-text {
        display:inline-block; width:66.13%; @include convert-pc-tb(padding-top,90); @include convert-pc-tb(padding-left,40);
        vertical-align:top; color:$sd-black;

        .txt-tit {@include font-pc-tb(900, 32, 32); letter-spacing:-0.045em; color:inherit;}
        .txt-tit_explain {
            @include convert-pc-tb(margin-top, 24);
            @include font-pc-tb(400, 18, 30); letter-spacing:-0.065em;
            color:inherit; opacity:0.7;
        }
        .txt-info-list {
            @include convert-pc-tb(margin-top, 18);
            color:inherit;

            li {
                position:relative;
                @include convert-pc-tb(padding-left, 22);
                @include font-pc-tb(400, 14, 24);
                color:inherit;

                [class^="ico-"] {
                    position:absolute;
                    @include convert-pc-tb(top,8); left:0;
                    @include font-pc-tb('',12);
                }
            }
        }
    }

    // custom type - hexagon image shadow
    &.type-hex-shadow {
        .item-img {
            &:before {
                display:block;
                content:'';
                position:absolute;
                @include convert-pc-tb(width,376);
                @include convert-pc-tb(height,396);
                top:0; left:0;
                @include convert-pc-tb(margin-top,-8);
                @include convert-pc-tb(margin-left,-60);
                background:{repeat:no-repeat; position:center center; size:100%;  image:url($path-common-img + "hexagon_shadow.png")};
            }
        }
    }

    &.type-img-hexagon {
        .item-img {
            @include convert-pc-tb(width, 247);

            .hex-number-cont {display:none;}
        }
    }

    // custom type - padding
    &.type-even-pd-l {
        .tb-2-col-item  {
            &:nth-child(even) {
                @include convert-pc-tb(padding-left, 90); padding-right:0;
                .item-img {width:37.3%;}
                .item-text {width:62.7%;}
            }
        }
    }
    &.type-even-pd-l-large {
        .tb-2-col-item  {
            &:nth-child(even) {
                @include convert-pc-tb(padding-left, 146); padding-right:0;
            }
        }
    }
}

// type - indicator
// old
/*.page-indicator{ font-size:0; text-align:center;
    a{ display:inline-block; @include font-pc-tb(mxlight,16,16); color:$sd-black; transition:opacity 0.2s linear;
        &.ico-indi-arrow-l{@include convert-pc-tb(margin-right,40); @include convert-pc-tb(font-size,10); vertical-align: baseline;opacity:0; }
        &.ico-indi-arrow-r{@include convert-pc-tb(margin-left,40); @include convert-pc-tb(font-size,10); vertical-align: baseline;opacity:0; }
        &.ico-indi-arrow-l,&.ico-indi-arrow-r{ cursor: default;
            &.onShow{ opacity:1; cursor:pointer; }
        }

        @at-root .desktop & {
            //&:hover {
            //    @include font-pc-tb(mheavy);
            //}
        }
    }
    ol{ display:inline-block;
        li{ display:inline-block; @include convert-pc-tb(margin-right,50);
            a{ @include font-pc-tb(mxlight,16,16); }
            &.on{
                a{ @include font-pc-tb(mheavy);}
            }
            &:last-child{ margin-right:0; }
        }
    }
}*/

// new
.page-indicator{ font-size:0; text-align:center;
    a{ display:inline-block; letter-spacing:-0.055em; line-height:normal; color:$sd-black; transition:opacity 0.2s linear; border : 1px solid #1a2939; @include convert-pc-tb(height,26);
        &.ico-indi-arrow-l{@include convert-pc-tb(margin-right,4); @include convert-pc-tb(font-size,10); opacity:0; pointer-events: none;
            &:before{ content:'<'; }
        }
        &.ico-indi-arrow-r{@include convert-pc-tb(margin-left,4); @include convert-pc-tb(font-size,10); opacity:0; pointer-events: none;
            &:before{ content:'>';}
        }

        &.ico-indi-arrow-l,&.ico-indi-arrow-r{ cursor: default;
            &:before{ display:inline-block; @include font-pc-tb(400,15,''); line-height:normal; @include convert-pc-tb(width,26); @include convert-pc-tb(height,26); vertical-align: middle; background:none; }
            &.onShow{ opacity:1; cursor:pointer; pointer-events: auto; }
        }

        @at-root .desktop & {
            //&:hover {
            //    @include font-pc-tb(mheavy);
            //}
        }
    }
    ol{ display:inline-block;
        li{ display:inline-block; @include convert-pc-tb(margin-right,4);
            a{ @include font-pc-tb(400,14,''); color:#1a2939; line-height:normal; padding:0px 8px; }
            &.on{
                a{ color:#fff; background-color:#1a2939; }
            }
            &:last-child{ margin-right:0; }
        }
    }
}

// type - thumbnail indicator
.thumb-list-indi-wrap {
    font-size:0;

    .thumb-item {
        display:inline-block;
        vertical-align:middle;
        @include convert-pc-tb(width,44);
        @include convert-pc-tb(height,50);
        @include convert-pc-tb(margin,0 4);

        &:first-child {margin-left:0;}
        &:last-child {margin-right:0;}

        button,
        a {
            display:block; position:relative; width:inherit; height:inherit; padding:0;
            cursor:pointer;

            @at-root .desktop & {
                &:focus {}
                &:hover {
                    .hex-cont .hexagon-image-wrap:before {
                        transform:rotate(-30deg) translate3d(0,0,0);
                    }
                }
            }
            &.selected,
            &.on {
                .hex-cont .hexagon-image-wrap:before {
                    opacity:1; transform:rotate(-30deg) translate3d(0,0,0);
                }
                .hexagon-image-wrap .hexagon-image {
                    opacity:0;
                }
                .hex-cont .hexagon-image-wrap:after {
                    opacity:1;
                }
            }

            &:after {
                display:block; content:''; position:absolute;
                width:100%; height:100%; top:0; right:0; bottom:0; left:0;
                background: {repeat:no-repeat; size: 100%; position:center center; image: url($path-common-img + "hexagon_border.png");}
            }
        }

        .hex-cont {
            .hex-border {display:none;}
            .hex-wrap {
                width:90%;
                height:92%;
            }
            .hexagon-image-wrap {
                position:relative;
                background-color:$sd-yellow;
                &:before {
                    display: block;
                    position: absolute;
                    width:200%; padding-top:200%;
                    top:0; right:-100%;
                    background-color:$sd-yellow;
                    transform-origin: right bottom;
                    transform:rotate(-30deg) translate3d(8%,-100%,0);
                    opacity:0.6;
                    transition:opacity 0.2s ease-out, transform 0.2s ease-out;
                    z-index:1;
                }
                .hexagon-image {transition:opacity 0.2s ease-out;}
                &:after {
                    display:block;
                    position:absolute;
                    content:'';
                    @include convert-pc-tb(width,16);
                    @include convert-pc-tb(height,11);
                    top:50%; left:50%; @include convert-pc-tb(margin-top,-6); @include convert-pc-tb(margin-left,-8);
                    background:{repeat:no-repeat; size:contain; position:center center; image:url($path-common-img + "icon_chk.png");};
                    opacity:0; transform:translateZ(0);
                    transition:opacity 0.2s ease-out;
                    z-index:1;
                }
            }
        }
    }
}

// type - tab
.tab{
    span{ @include font-pc-tb(400);
        &.onShow{
            @include font-pc-tb(900);
            a {color:$sd-black;}
        }
    }
    span:nth-child(1){ @include convert-pc-tb(margin-right, 20); }
    span:nth-child(2){}
}

ul.tab-contents{
    $thumbsWidth:152; $thumbsHeight:172; $thumbsDis:980;
    li.ul-list{ width:100%; display:none; //@include convert-pc-tb(height, 340);
        /*ol{ font-size:0; @include convert-pc-tb(margin-bottom, 76);
            li{ display:inline-block; @include convert-pc-tb(width, 152); @include convert-pc-tb(height, 172); background:{ repeat: no-repeat; size:100%; }}
        }*/
        &.onShow{ display:block; }
    }
    li.ul-list:nth-child(1){

    }
    li.ul-list:nth-child(2){ height:auto;

    }
}

// type - pagination (count number)
.item-count-wrap {
    display:inline-block;
    @include convert-pc-tb(margin-bottom,5);
    @include font-pc-tb(mheavy,26,26);
    text-align:right;
    color:#fff;
    width:100%;

    .current {}
    .total {
        position:relative;
        @include convert-pc-tb(padding-left, 10);
        @include convert-pc-tb(margin-left, 10);

        &:before {
            display:block;
            content:''; position:absolute;
            width:1px;
            @include convert-pc-tb(height, 15);
            top:50%;
            left:0;
            @include convert-pc-tb(margin-top, -8);
            background-color:#fff;
        }
    }

    &.type-black {
        color:$sd-black;
        .total {
            &:before {
                background-color:$sd-black;
            }
        }
    }
}

// type - no result
.no-results-wrap {
    display:none;
    @include convert-pc-tb(min-height,500);
    @include convert-pc-tb(padding,165 0);
    text-align:center;

    .img-wrap {
        @include convert-pc-tb(width,140);
        @include convert-pc-tb(height,150);
        margin:0 auto;
        figure {
            width:100%; height:100%;
            @include convert-pc-tb(margin-left,7);
            background:{repeat:no-repeat; position:center center; size:100%; image: url($path-common-img + "img_no_result.png");};
        }
    }
    .txt-wrap {
        @include convert-pc-tb(margin-top, 48);
        color:#fff;
        .txt-tit {
            @include font-pc-tb(700, 22, 32);
            letter-spacing:-0.04em;
            .txt-name {color:$sd-yellow;}
        }
        .txt-desc {
            @include convert-pc-tb(margin-top, 38);
            @include font-pc-tb(400, 18, 32);
            letter-spacing:-0.045em;
        }
    }

    &.type-gray {
        background-color:#e3e3e3;
        .txt-wrap {
            color:$sd-black;
        }
        .img-wrap {
            figure {
                background-image: url($path-common-img + "img_no_result_gray.png");;
            }
        }
    }

    &.on {display:block;}
}



////////////////////////////////////////////////////////////////////////////////////////////
// MOBILE 버전
///////////////////////////////////////////////////////////////////////////////////////////
@include break-point($mobile) {

    // type - hexagon with image
    .el-comp-hex-img {
        width:100%;
        .item-img {
            //@include vw-convert-mo(width, 676); @include vw-convert-mo(height, 780);
            width:100%; height:auto; @include vw-convert-mo(padding-right, 55);
            .hex-ct-cont {
                @include vw-convert-mo(width,189); @include vw-convert-mo(height,219); @include vw-convert-mo(margin-bottom, 126);
                .hexagon {@include vw-convert-mo(font-size, 219);}
            }
        }
        .item-tit {@include vw-convert-mo(margin-top, 58);
            .txt-name {@include vw-font-mo(700, 56, 56);}
            .txt-info {
                @include vw-convert-mo(margin-top, 30);
                &_item {
                    @include vw-convert-mo(margin, 0 12);
                    &.subscriber {}

                    .hex-cont-small {
                        @include vw-convert-mo(width,36);
                        @include vw-convert-mo(height,40);
                        .hexagon {
                            @include vw-convert-mo(font-size,40);
                        }
                        .sns-icon-wrap {
                            // icon
                            [class^="ico-sns-youtube"] {@include vw-font-mo('', 20);}
                            [class^="ico-sns-twitch"] {@include vw-font-mo('', 20);}
                        }
                        span {display:block;}
                    }
                    .txt {@include vw-convert-mo(margin-left,9); @include vw-font-mo(500, 36);
                    }

                }
            }
        }

        .item-hex-txt {
            @include vw-convert-mo(margin-bottom,64);
            .tag {
                .txt-box {
                    @include vw-convert-mo(padding,9 13 5);
                    @include vw-font-mo('', 30, 30);
                }
            }
            .txt-name-en {
                @include vw-convert-mo(margin-top,5); @include vw-font-mo(mheavy, 40, 40);
            }
            .txt-name-kr {
                @include vw-convert-mo(margin-top,2);
                @include vw-font-mo(900, 30, 30);
            }
        }
    }

    // type - card
    .el-comp-card {
        @include vw-convert-mo(width, 800);@include vw-convert-mo(height, 1080);
        @include vw-convert-mo(padding, 97 61); @include vw-convert-mo(margin, 0 20);
        box-shadow :2.6vw 2.6vw 3.6vw 0 rgba(0,0,0,0.1);

        //// icon only for card
        &.item-new {
            .ico-new {
                //@extend .ico-reset;
                &-txt {
                    //@extend .ico-reset;
                    @include vw-convert-mo(top, 24); @include vw-convert-mo(left, 24); @include vw-font-mo(mheavy, 54);
                }
                &:before {
                    //@extend .ico-reset;
                    @include vw-convert-mo(border-top-width, 124);
                    @include vw-convert-mo(border-right-width, 213);
                }
            }
        }
        &.item-sorting {
            .ico-sort {
                //@extend .ico-reset;
                @include vw-convert-mo(top, 100); @include vw-convert-mo(right, 64);
                &-txt {
                    //@extend .ico-reset;
                    @include vw-font-mo(mheavy, 30);
                }
            }

            &.sort-august {
                .ico-sort-txt {}
            }
            &.sort-creator {
                .ico-sort-txt {}
            }
        }

        //// icon only for card
        .item-text {
            @include vw-convert-mo(padding-top, 420);
            .txt-tit {
                @include vw-convert-mo(height, 155); @include vw-font-mo(900, 50, 78);
            }
            .txt-desc {
                @include vw-convert-mo(height, 179); @include vw-convert-mo(margin-top, 13);
                @include vw-font-mo(400, 30, 58); -webkit-line-clamp:3;
            }
            .txt-date {@include vw-font-mo(mxlight, 41, 41);
                .month,
                .day {@include vw-convert-mo(margin-left, 7);}
            }
        }

        .item-img {
            @include vw-convert-mo(top, 97); @include vw-convert-mo(left, 62);
            @include vw-convert-mo(width, 300); @include vw-convert-mo(height, 346);
        }
    }

    // card wrap type - vertical
    .m-wrap-type-vertical {
        //@include vw-convert-mo(padding, 0 80);
        padding:0;
        .el-comp-card {
            width:100%;
            @include vw-convert-mo(margin, 50 0);

            &:first-child {margin-top:0;}
            &:last-child {margin-bottom:0;}
        }
    }

    // type- card (img + txt)
    .el-comp-img-txt-card {
        width:100%; @include vw-convert-mo(height, 720);

        .img-box {width:100%; @include vw-convert-mo(height, 450);
            .img{
                transition:transform 0.3s $ease-in-out-quad; background:{ size:100% 100%; repeat: no-repeat; position:center; }
            }
        }
        .txt-box {@include vw-convert-mo(height, 274);
            .txt-tit {@include vw-font-mo(900,42,48);}
            .txt-name {@include vw-font-mo(400,30,61);}
        }
    }

    // card list wrapper type  - card (img+txt)
    .img-txt-card-list-wrap {
        @include vw-convert-mo(margin-top, 80);

        .list-item {
            display:block; width:100%; margin:0 0 percentage( 60 / 800 ) 0;
            a {}

            &:nth-child(3n) {margin-right:0;}
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {margin-bottom:percentage( 60 / 800 );}
            &:last-child {margin-bottom:0;}
        }
    }
    .img-txt-card-list-wrap + .page-indicator{ @include vw-convert-mo(margin-top,100);}

    // type - table (2col - img,text)
    .table-list-wrap {
        .tb-2-col-item {
            display:inline-block; width:100%;
            @include vw-convert-mo(margin, 48 0); text-align:center;

            &:first-child {margin-top:0;}
            &:last-child {margin-bottom:0;}
        }

        .item-img {
            width:auto;
            margin:0 auto;

            .hex-number-cont {
                position:absolute;
                @include vw-convert-mo(width, 67);
                @include vw-convert-mo(height, 76);
                top:0; left:0;
                @include vw-convert-mo(margin-left,20);
                @include vw-convert-mo(margin-top,14);
                .txt-wrap {@include vw-font-mo('', 30,30);}
                .hexagon {@include vw-font-mo('', 76);}
            }
            figure {
                @include vw-convert-mo(width, 567);
                @include vw-convert-mo(height, 567);
                padding-top:0;
            }
            //background-color: rgba(153, 255, 13, 0.5);
        }
        .item-text {
            width:100%;
            @include vw-convert-mo(margin-top,50);
            .txt-tit {@include vw-font-mo(900, 50, 50);}
            .txt-tit_explain {
                @include vw-convert-mo(margin-top, 28);
                @include vw-font-mo(400, 34, 54);
            }
            .txt-info-list {
                @include vw-convert-mo(margin-top, 28);

                li {
                    @include vw-convert-mo(padding-left, 28);
                    @include vw-font-mo(400, 30, 46);

                    [class^="ico-"] {
                        @include vw-convert-mo(top,14);
                        @include vw-font-mo('',16);
                    }
                }
            }
        }

        &.type-even-pd-l {
            .tb-2-col-item  {
                &:nth-child(even) {
                    .item-img {width:auto;}
                    .item-text {width:100%; height:auto;}
                }
            }
        }
    }

    // type - indicator
    // old
    /*    .page-indicator{
            a{ @include vw-font-mo(mxlight,44,44);
                &.ico-indi-arrow-l{@include vw-convert-mo(margin-right,60); @include vw-convert-mo(font-size,30); vertical-align: middle;}
                &.ico-indi-arrow-r{@include vw-convert-mo(margin-left,60); @include vw-convert-mo(font-size,30); vertical-align: middle;}
            }
            ol{ vertical-align: middle;
                li{ @include vw-convert-mo(margin-right,60);
                    a{ @include vw-font-mo(mxlight,44,44);}
                    &.on{
                        a{ @include vw-font-mo(mheavy);}
                    }
                    &:last-child{ margin-right:0; }
                }
            }
        }*/

    // new
    .page-indicator{
        a{
            &.ico-indi-arrow-l{@include vw-convert-mo(margin-right,10); @include vw-convert-mo(font-size,35); vertical-align: middle;}
            &.ico-indi-arrow-r{@include vw-convert-mo(margin-left,10); @include vw-convert-mo(font-size,35); vertical-align: middle;}

            &.ico-indi-arrow-l,&.ico-indi-arrow-r{ cursor: default;
                &:before{ display:block; width:100%; height:100%; @include vw-font-mo(400,35,''); line-height:normal; vertical-align: middle; background:none; padding:0px 1.5vw; }
                &.onShow{ opacity:1; cursor:pointer; }
            }
        }
        ol{ vertical-align: middle;
            li{ @include vw-convert-mo(margin-right,10);
                a{ @include vw-font-mo(400,35,''); padding:0px 1.5vw; }
                &.on{
                    a{}
                }
                &:last-child{ margin-right:0; }
            }
        }
    }

    // type - thumbnail indicator
    .thumb-list-indi-wrap {
        .thumb-item {
            @include vw-convert-mo(width,100);
            @include vw-convert-mo(height,114);
            @include vw-convert-mo(margin,0 7);

            &:first-child {margin-left:0;}
            &:last-child {margin-right:0;}

            .hex-cont {
                .hex-wrap {
                    width:91.66%;
                    height:92.68%;
                }
                .hexagon-image-wrap {
                    &:after {
                        @include vw-convert-mo(width,40);
                        @include vw-convert-mo(height,28);
                        @include vw-convert-mo(margin-top,-14); @include vw-convert-mo(margin-left,-20);
                    }
                }
            }
        }
    }

    // type - tab
    .tab{
        span{ @include vw-font-mo(400);
            &.onShow{ @include vw-font-mo(900); }
        }
        span:nth-child(1){ @include vw-convert-mo(margin-right, 20); }
        span:nth-child(2){}
    }
    ul.tab-contents{
        $thumbsWidth:244; $thumbsHeight:318; $thumbsDis:800;
        li.ul-list{ width:100%; @include vw-convert-mo(height, 780);
            ol{ /*@include vw-convert-mo(margin-bottom, 76);*/
                /*li{ display:inline-block; @include vw-convert-mo(width, $thumbsWidth); @include vw-convert-mo(height, $thumbsHeight); background:{ repeat: no-repeat; size:100%; }}*/
            }
        }
        li.ul-list:nth-child(1){ height:auto;
            ul.txt-box{
                li{ @include vw-font-mo(400,30,54); word-break: break-all; text-align:justify;
                    .ico-plus{ top:25%; @include vw-convert-mo(width,40); @include vw-convert-mo(margin-right,40);
                        &:before,&:after{ @include vw-convert-mo(width,40); }
                    }
                    em{ @include vw-convert-mo(padding-left,80); display: block; word-break: break-all;}
                }
            }
        }
        li.ul-list:nth-child(2){ height:auto;
            .content-tit-wrap{
                .txt-tit{
                    span{ @include vw-font-mo(900,50,48); }
                }
            }
            .txt-box{
                .des{ @include vw-convert-mo(margin, 0 0 30); }
                .des:nth-child(1){ @include vw-convert-mo(margin-top,45); }
                .des:last-child{ margin-bottom:0; }
                span,strong{ display:block; @include vw-font-mo(400,34,54); }
                span{ }
                strong{ @include vw-font-mo(700,34,54); }
            }
        }
    }

    // type - pagination (count number)
    .item-count-wrap {
        width:50%;
        @include vw-convert-mo(padding,0 80);
        @include vw-convert-mo(margin-bottom,10);
        @include vw-font-mo(mheavy,26,26);

        .current {}
        .total {
            position:relative;
            @include vw-convert-mo(padding-left, 10);
            @include vw-convert-mo(margin-left, 10);

            &:before {
                width:1px;
                @include vw-convert-mo(height, 16);
                @include vw-convert-mo(margin-top, -8);
            }
        }
    }

    // type - no result
    .no-results-wrap {
        @include vw-convert-mo(min-height,800);
        @include vw-convert-mo(padding,150 0 100);

        .img-wrap {
            @include vw-convert-mo(width,290);
            @include vw-convert-mo(height,310);
            figure {
                @include vw-convert-mo(margin-left,7);
                background-image: url($path-common-img + "img_no_result.png");
            }
        }
        .txt-wrap {
            @include vw-convert-mo(margin-top, 72);
            .txt-tit {
                @include vw-font-mo(700, 40, 40);
                .txt-name {}
            }
            .txt-desc {
                @include vw-convert-mo(margin-top, 38);
                @include vw-font-mo(400, 30, 46);
            }
        }
        &.on {}

        &.type-gray {
            background-color:#e3e3e3;
            .txt-wrap {
                color:$sd-black;
            }
            .img-wrap {
                figure {}
            }
        }
    }
}
