@charset "utf-8";


.careers-apply {
    .content-wrap {
        .inner-content-wrap {}
    }

    // apply - section
    .section-keyvisual {
    }
    .section-contents {
        margin-top:0;
        .back-color-box {
            display:none;
            background-color:#fff;
        }
    }
    // apply - decorate
    .content-deco-box {
        &.top-left {.box {background-color:$sd-pink;}}
        &.bottom-right {display:none;}
    }


    // apply - contents
    .apply-terms {
        .inner-content-wrap {
            @include convert-pc-tb(padding-bottom, 18);
        }
        .content-tit-wrap {
            @include convert-pc-tb(margin-bottom, 40);
            .txt-tit {
                span {}
            }
        }
    }

    .apply-terms-write {
        .content-tit-wrap {@include convert-pc-tb(margin-bottom, 68);}

        .form-group {
            .inp-name-wrap {width:100%;}
            .add-file-wrap {}
        }
    }



    ////////////////////////////////////////////////////////////////////////////////////////////
    // MOBILE 버전
    ///////////////////////////////////////////////////////////////////////////////////////////
    @include break-point($mobile) {
        .content-wrap {
            .inner-content-wrap {
                //@include vw-convert-mo(padding-top, 50);
                //@include vw-convert-mo(padding-bottom, 50);
            }

            .content-tit-wrap {
                .txt-tit {
                    .txt {
                        @include vw-font-mo(900,50,50);
                        .half-line:before {@include vw-convert-mo(margin-bottom,20);}
                    }
                }
            }
        }

        // apply - section
        .section-contents {
            @include vw-convert-mo(padding-bottom,70);
            .back-color-box {}
        }

        // apply - contents
        .apply-terms {
            .inner-content-wrap {
                @include vw-convert-mo(padding-bottom, 4);
            }
            .content-tit-wrap {@include vw-convert-mo(margin-bottom, 44);}
        }

        .apply-terms-write {
            .content-tit-wrap {@include vw-convert-mo(margin-bottom, 66);}
        }
    }
}
