@charset "utf-8";

.careers-detail {
    .section-contents { margin-top:0;
        .back-color-box {display:none;}
        //.content-wrap{ background-color:#fff; height:inherit }
    }

    .content-deco-box {
        &.top-left { .box{ background-color:$sd-sky-blue; }}
        &.bottom-right {display:none;}
    }

    .kv {padding:0;}

    .inner-content-wrap{ padding:0!important;
        .careers-detail-box {
            @include convert-pc-tb(width, 980);
            @include convert-pc-tb(margin, 0 auto);
            @include convert-pc-tb(padding, 227 0 100 0);
            .title-box{ border-top:2px solid $sd-black; border-bottom:1px solid #d1d4d7;
                .subject{
                    @include convert-pc-tb(padding, 30 0 22);
                    @include font-pc-tb(900,40,40); color:$sd-black;
                }
                >ul{
                    .date{
                        @include font-pc-tb(400,12,12); color:#93979c;
                    }
                    .subject-info {
                        @include convert-pc-tb(margin-top, -5);
                        @include convert-pc-tb(padding-bottom, 29);
                        .info{
                            li{
                                float: left;
                                @include convert-pc-tb(margin-left, 30);
                                strong{@include font-pc-tb(900,16,16); color:$sd-black; vertical-align:middle;}
                                span{@include font-pc-tb(400,14,16); color:$sd-black; vertical-align:middle;}
                                &:first-child{
                                    @include convert-pc-tb(margin-left, 0);
                                }
                            }
                        }
                    }
                }
            }
            .contents-box{
                @include convert-pc-tb(padding, 60 0 90);
                @include font-pc-tb(400,16,36); color: #606367;
                letter-spacing: -0.05em;
                img{width:100% !important; height:auto !important;}
                .btn_apply{
                    display: block;
                    @include convert-pc-tb(width, 310);
                    @include convert-pc-tb(height, 90);
                    @include convert-pc-tb(margin-top, 80);
                    background-color: $sd-black;
                    color: #fff;
                    text-align: center;
                    @include font-pc-tb(900,20,90);
                    letter-spacing: -0.04em;

                }
            }
            .btns-indicator{
                border-top:2px solid $sd-black;
                .btn-wrap{ @include convert-pc-tb(margin-top, 44);
                    a:last-child{ float:right; }
                }
            }
        }
    }


    ////////////////////////////////////////////////////////////////////////////////////////////
    // TABLET 버전
    ///////////////////////////////////////////////////////////////////////////////////////////
    @include break-point($tablet) {}

    ////////////////////////////////////////////////////////////////////////////////////////////
    // MOBILE 버전
    ///////////////////////////////////////////////////////////////////////////////////////////
    @include break-point($mobile) {
        .section-contents {
            @include vw-convert-mo(padding-bottom, 100);
            .back-color-box {  }
            .content-wrap{  }
        }

        .content-deco-box {
            &.top-left { }
        }

        .inner-content-wrap{ padding:0!important;
            .careers-detail-box{
                @include vw-convert-mo(margin, 0 auto);
                @include vw-convert-mo(padding, 274 80 100);
                .title-box{
                    border-top: 0.2033vw solid $sd-black;
                    border-bottom: 0.104166vw solid #d1d4d7;
                    .subject{
                        @include vw-convert-mo(padding, 26 0 23);
                        @include vw-font-mo(900,50,50); color:$sd-black;
                    }
                    >ul{
                        .subject-info {
                            display:block; @include vw-convert-mo(padding-bottom, 20); float:none;
                            .info{
                                li{
                                    float: left;
                                    @include vw-convert-mo(margin-left, 20);
                                    strong{@include vw-font-mo(900,24,24); color:$sd-black;letter-spacing: -0.05em;}
                                    span{@include vw-font-mo(400,24,24); color:$sd-black;}
                                    &:first-child{
                                        @include vw-convert-mo(margin-left, 0);
                                    }
                                }
                            }
                        }
                        .date{
                            display:block;
                            @include vw-convert-mo(padding-bottom, 31);
                            @include vw-font-mo(400,22,22); color:#93979c;
                            letter-spacing: -0.04em;
                        }
                    }
                }
                .contents-box{
                    @include vw-convert-mo(padding, 46 0 80);
                    @include vw-font-mo(400,30,68); color: #606367;
                    letter-spacing: -0.05em;
                    img{width: 100%}
                    .btn_apply{
                        display: block;
                        width: 100%;
                        @include vw-convert-mo(height, 140);
                        @include vw-convert-mo(margin-top, 110);
                        background-color: $sd-black;
                        color: #fff;
                        text-align: center;
                        @include vw-font-mo(900,40,140);
                        letter-spacing: -0.04em;

                    }
                }
                .btns-indicator{
                    border-top-width:1px;
                    .btn-wrap{ @include vw-convert-mo(margin-top,38); }
                }
            }
            //article{ @include convert-pc-tb(width, 980); margin:0 auto;
            //
            //}
        }
    }
}