@charset "utf-8";


.creator-creators {

    // creators - decorate
    .content-deco-box {
        &.top-left {display:none;}
        &.bottom-right {.box {background-color:$sd-pink;}}
    }

    // creators - section
    .section-keyvisual {

    }
    .section-contents {
       // @include convert-pc-tb(margin-top, -452); // original -712 (+260)
        @include convert-pc-tb(padding-bottom,128);

        .back-color-box {
            //@include convert-pc-tb(margin-top, -90); // original 170 (-260)

            // details
            &.deco-bg-1 {
                background-color:#1d1d1d;
            }
            &.deco-bg-2.type-img {
                @include convert-pc-tb(height,1442);
                @include convert-pc-tb(margin-bottom,-300);
                background-color:#2033b6;
                figure {
                    @include convert-pc-tb(height,4000);
                    @include convert-pc-tb(margin-top,-2000);
                    background-image: url("../images/pc/creator_creators/kv_bg.jpg");
                }
            }
        }
    }

    // creators - contents
    .creators-kv {
        padding:0;
        .inner-content-wrap {
            .kv-item-bg {
                figure {
                    background-image: url("../images/pc/creator_creators/kv_bg.jpg");
                }
            }
        }
        .v-slick{
            opacity:0;
            &.onShow{
                transition:opacity 0.7s;
                opacity:1;
            }
        }
        .item-count-wrap {
            display:inline-block;
            position:absolute;
            //width:auto;
            @include convert-pc-tb(top,480);
            @include convert-pc-tb(right,148);
            padding-right:0;
        }
        .kv-slide-wrap {
            overflow:visible;

            .kv-item-wrap {
                //@include convert-pc-tb(width,1620);
                @include convert-pc-tb(top,30+190);
                overflow:visible;
                //overflow:hidden;

                .kv-item {
                    width:auto; height:auto;
                    @include convert-pc-tb(padding,180 60 400);
                    vertical-align:middle; overflow:visible;

                    &-tit {
                        .txt-tit {
                            display:inline-block;
                            width:auto;
                            @include font-pc-tb(900, 108,140);
                            overflow:visible;
                            color:#fff;
                        }
                        .txt-tit_explain {
                            margin-left:0;
                            @include font-pc-tb(400, 60, 60);
                            color:$sd-yellow;
                        }
                        .txt-tit_desc {
                            margin-left:0;
                            margin-top:0;
                            @include font-pc-tb(400, 18, 30);
                            color:#fff;
                        }
                        .btn-wrap {
                            margin-left:0;
                            @include convert-pc-tb(margin-top, 72);
                        }

                        .tit-top {
                            position:absolute; left:0; bottom:100%;
                            @include convert-pc-tb(margin-left,-35);
                            @include convert-pc-tb(margin-bottom,-14);
                        }
                        .tit-bottom {
                            position:absolute; left:0; top:100%;
                            @include convert-pc-tb(margin-left,-32);
                            @include convert-pc-tb(margin-top, 16);
                        }
                    }
                }
            }

            .kv-img-wrap {
                .kv-item {}

                &.slick-img-wrap {}
            }
        }


        .btn-prev-next-wrap {
            margin-top:0;
        }

        // slick
        .v-slick {
            .slick-slide {display:inline-block; float:none; overflow:visible; }
        }
        .slick-slider {
            width:100%; //height:100vh;
            top:0; left:0;
            //@include convert-pc-tb(padding-top,438);
            //background-color:rgba(133,255,166,0.2);   //guide bg color

            .slick-list {
                @include convert-pc-tb(width, 410);
                @include convert-pc-tb(margin-left,122);
                overflow:visible;
                //background-color:rgba(255,255,0,0.2);  //guide bg color
            }
            .slick-list,
            .slick-track {display:inline-block;transform: translate3d(0,0,0);}
            .kv-item {float:none;
                .kv-item-tit {
                    .txt-tit {
                        color:#4c5bbb;
                        //opacity:0.8;
                    }
                    .txt-tit_explain,
                    .txt-tit_desc,
                    .btn-wrap {
                        opacity:0;
                        pointer-events:none;
                    }
                    .tit-top,
                    .tit-bottom {
                        @include convert-pc-tb(margin-right,20);

                        @include break-point($tablet) {
                        }
                    }
                }

                &.onShow {
                    $slickTransDelay : 0.7s;
                    .kv-item-tit {
                        .txt-tit {
                            //color:#fff;
                            opacity:1;
                        }
                        .txt-tit_explain,
                        .txt-tit_desc,
                        .btn-wrap {
                            opacity:1;
                            pointer-events:visible;
                        }
                        .tit-top,
                        .tit-bottom {
                            transform: translate3d(0,0,0);
                        }
                    }
                }
            }

            .slick-current {
                // slick active
            }


        }
    }

    .sd-creators {
        .content-tit-wrap {
            margin-top:0;
            @include convert-pc-tb(margin-bottom,4);
        }

        .content-menu-wrap {
            @include convert-pc-tb(margin-bottom, 68);

            .sort-menu-wrap {
                //width:100%;
                @include convert-pc-tb(margin-left, -9);
                font-size:0;

                li {
                    display:inline-block;
                    @include convert-pc-tb(margin, 0 3);
                    color:#fff;
                    vertical-align:middle;

                    &:first-child {margin-left:0;}
                    &:last-child {margin-right:0;}

                    button {
                        @include convert-pc-tb(padding,0 11);
                        .btn-txt {
                            position:relative;
                            @include convert-pc-tb(margin-left,10);
                            @include convert-pc-tb(padding,10 0);
                            @include font-pc-tb(400, 18, 18);

                            &:after {
                                display:block;
                                content:'';
                                width:100%;
                                transform:scaleX(0);
                                transform-origin: center;
                                @include convert-pc-tb(height,2);
                                position:absolute;
                                left:0; @include convert-pc-tb(bottom,1);
                                background-color:#fff;
                                transition:transform 0.35s $ease-in-out-cubic;
                            }
                        }
                    }


                    @at-root .desktop & {
                        button:hover{
                            .btn-txt {
                                @include font-pc-tb(900);
                                &:after {transform:scaleX(1);display:block;}
                            }
                        }
                    }
                    button.on {
                        .btn-txt {
                            @include font-pc-tb(900);
                            &:after {transform:scaleX(1);display:block;}
                        }
                    }
                }
            }

            .search-item-warp {
                display:inline-block;
                position:relative;
                @include convert-pc-tb(width,300);
                @include convert-pc-tb(height,40);
                @include convert-pc-tb(border-radius,20);
                //background-color:#6f42c1;
                overflow:hidden;
                transform:translate3d(0,0,1px);

                .inp-search {
                    //display:none;
                    width:inherit;
                    height:inherit;
                    @include convert-pc-tb(padding,0 60 0 25);
                    border:none;
                    @include convert-pc-tb(border-radius,20);
                    outline:none;
                    background-color:#4a4a4a;
                    @include font-pc-tb(400,18,40);
                    letter-spacing:-0.035em;
                    color:#fff;
                    transform:translate3d(100%,0,0);
                    opacity:0;
                    transition: transform 0.4s ease-out, opacity 0.3s 0.1s ease-out;

                    &::placeholder {color:#a0a0a0;}
                }
                .btn-search {
                    position:absolute;
                    @include convert-pc-tb(width,40);
                    height:inherit;
                    top:0; right:0; bottom:0;
                }
                &.active {
                    .inp-search {
                        transform:translate3d(0,0,0);
                        opacity:1;
                        transition: transform 0.4s cubic-bezier(0.75,0, 0.25, 1), opacity 0.4s cubic-bezier(0.75,0, 0.25, 1);
                    }
                }
            }
        }

        .creator-list-wrap {
            position:relative;font-size:0;
            opacity: 0;
            transform:translate3d(0,3%,0);
            .creator-items-holder {
                @include convert-pc-tb(margin-top,30);

                &:first-child {margin-top:0;}
                &:nth-child(even) {
                    padding-left:12%;
                }
                .creator-item{
                    @include convert-pc-tb(margin,10 13);
                    vertical-align:top;

                    &:first-child {margin-left:0;}
                    &:last-child {margin-right:0;}

                    .btn-detail-view {display:none;}

                    &.has-detail-view {
                        .btn-detail-view {display:inline-block; @include convert-pc-tb(margin-top,-4); @include convert-pc-tb(margin-bottom,-10);}
                    }
/*                    &.motion{transform:translateY(20%); opacity:0;}
                    &.view-in{ transform:translateY(0); opacity: 1; transition : transform 0.5s $ease-out-quad,opacity 0.25s; }*/
                    .hexagon-image-wrap{
                        background:{ image:url('../../assets/images/common/creator_default.png'); repeat: no-repeat; size:cover; position:center; }
                    }
                }
            }

            .el-comp-hex-img {
                .item-img {
                    @include convert-pc-tb(width, 247);
                    @include convert-pc-tb(height, 285);
                    .hex-ct-cont {
                        @include convert-pc-tb(margin-bottom,44);
                        .icons-wrap.type-2 .ico-category {@include font-pc-tb('',20);}
                    }
                }
                .item-tit {
                    @include convert-pc-tb(margin-top,25);
                    @include convert-pc-tb(margin-left,-10);
                    opacity:0.8;
                    .txt-name {@include font-pc-tb(400,18,23);}
                    .txt-info {
                        @include convert-pc-tb(margin-top,5);

                        &_item {
                            @include convert-pc-tb(margin, 0 4);
                            .txt {@include font-pc-tb(400,14,14);}
                            .hex-cont-small {
                                @include convert-pc-tb(width,19);
                                @include convert-pc-tb(height,21);
                                .hexagon {@include convert-pc-tb(font-size,21);}
                                .icons-wrap {
                                    padding:0;
                                    .ico-category {@include font-pc-tb('',26);}
                                }
                            }
                        }
                    }
                }
            }

            & + .btn-wrap {
                @include convert-pc-tb(margin-top, 88);
            }

            &.onTrans{
                opacity: 1;
                transform:translate3d(0,0,0);
                transition: transform 0.5s $ease-out-quart, opacity 0.3s;
            }
        }

        .creator-wrap {
            @include convert-pc-tb(min-height,710);
        }

        // type - result or no result
        .result-wrap {
            display:none;
            &.on {display:block;}
        }

        .no-results-wrap {
            @include convert-pc-tb(height, 710);
        }
    }

    .ori-cont-channel {
        .inner-content-wrap {
            @include convert-pc-tb(padding-top,76);
        }

        .table-list-wrap {
            @include convert-pc-tb(margin-top,72);
            .list-item {
                @include convert-pc-tb(padding-top, 25);
                @include convert-pc-tb(padding-bottom, 25);
                padding-right:0;

                &:first-child {padding-top:0;}
                &:last-child {padding-bottom:0;}

                .item-img {
                    width:25.2%;
                }
                .item-text {
                    width:74.8%;
                    @include convert-pc-tb(padding-top,65);
                    @include convert-pc-tb(padding-left,40);
                    color:#fff;

                    .txt-tit {@include font-pc-tb('',22,32);}
                    .txt-tit_explain {
                        @include convert-pc-tb(margin-top, 6);
                        @include font-pc-tb(400,18,32);
                        word-break:break-all;
                        text-align:justify;
                    }
                    .txt-info-list {
                        opacity:0.6;
                    }
                }

                &.item-1 figure {background:{image: url("../images/pc/creator_creators/chn_creator_img_1.jpg")};}
                &.item-2 figure {background:{image: url("../images/pc/creator_creators/chn_creator_img_2.jpg")};}
                &.item-3 figure {background:{image: url("../images/pc/creator_creators/chn_creator_img_3.jpg")};}
            }
            .tb-2-col-item:nth-child(even) {
                .item-img {
                    width:29.6%;
                }
                .item-text {
                    width:70.4%;
                }
            }
        }
    }

    ////////////////////////////////////////////////////////////////////////////////////////////
    // MOBILE 버전
    ///////////////////////////////////////////////////////////////////////////////////////////
    @include break-point($mobile) {

        .content-deco-box {
            &.top-left {}
            &.bottom-right {display:none;}
        }

        .section-keyvisual {
            .content-wrap {}
        }
        .section-contents {
            .back-color-box {
                // details
                &.deco-bg-1 {}
                &.deco-bg-2.type-img {
                    @include vw-convert-mo(height,2530);
                    @include vw-convert-mo(margin-bottom,-400);
                    figure {
                        background-image: url("../images/mobile/creator_creators/kv_bg.jpg");
                    }
                }
            }
        }

        // creators - contents
        .creators-kv {
            .inner-content-wrap {
                .kv-item-bg {
                    figure {
                        background-image: url("../images/mobile/creator_creators/kv_bg.jpg");
                    }
                }
            }
            .item-count-wrap {
                @include vw-convert-mo(top,774);
                @include vw-convert-mo(left,80);
                padding:0; text-align:left;
            }
            .kv-slide-wrap {
                // 190127_키비주얼 // @include vw-convert-mo(height, 1900);

                .kv-item-wrap {
                    top:0;

                    .kv-item {
                        @include vw-convert-mo(top, 500);
                        @include vw-convert-mo(padding,450 140);
                        vertical-align:top;

                        &-tit {
                            display:block; margin-top:0;
                            .txt-tit_explain {
                                @include vw-font-mo(400, 48, 60);
                            }
                            .txt-tit {
                                @include vw-font-mo(900, 110, 130);
                            }
                            .txt-tit_desc {
                                @include vw-font-mo(400, 34, 50);
                            }
                            .btn-wrap {
                                @include vw-convert-mo(margin-top,120);
                            }

                            .tit-top {
                                @include vw-convert-mo(margin-left,-60);
                                @include vw-convert-mo(margin-bottom, 12);
                            }
                            .tit-bottom {
                                @include vw-convert-mo(margin-left,-60);
                                @include vw-convert-mo(margin-top, 0);
                            }
                        }
                    }
                }

                .kv-img-wrap {
                    &:before {
                        display:block; position:absolute; content:''; width:100%; @include vw-convert-mo(height,1890);
                        left:0; right:0; bottom:0;
                        background: -moz-linear-gradient(top, rgba(5,9,40 ,0) 35%, rgba(5,9,40 ,0.5) 75%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(top, rgba(5,9,40 ,0) 35%,rgba(5,9,40 ,0.5) 75%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to bottom, rgba(5,9,40 ,0) 35%,rgba(5,9,40 ,0.5) 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b2b2b2', endColorstr='#b2b2b2',GradientType=0 ); /* IE6-9 */
                    }

                    .kv-item {}
                    &.slick-img-wrap {}

                }
            }

            .btn-prev-next-wrap {
            }

            // slick
            .slick,
            .slick-list,
            .slick-track,
            .slick-slide,
            .slick-slide > div {
                height:100%;
            }
            .v-slick {
                .slick-slide {display:inline-block; float:none;}
            }
            .slick-slider {
                //@include vw-convert-mo(padding-top,480);

                .slick-list {
                    width:100%;
                }
                .slick-list,
                .slick-track {transform: translate3d(0,0,0);}

                .kv-item {
                    .kv-item-tit {
                        .txt-tit {
                            opacity:0;
                            @include vw-font-mo('',110,140);
                        }
                    }

                    &.onShow {
                        .kv-item-tit {
                            .txt-tit {
                                opacity:1;
                            }
                        }
                    }
                }
            }
        }

        .sd-creators {
            .content-tit-wrap {
                @include vw-convert-mo(margin-bottom,8);
            }

            .content-menu-wrap {
                @include vw-convert-mo(margin-bottom, 110);

                .sort-menu-wrap {
                    display:block;
                    white-space:nowrap;

                    li {
                        display:inline-block;
                        @include vw-convert-mo(margin, 0 19);

                        &:first-child {margin-left:0;}
                        &:last-child {margin-right:0;}

                        button {
                            @include vw-convert-mo(padding,10 0 14);
                            .btn-txt {
                                @include vw-convert-mo(margin-left,13);
                                @include vw-convert-mo(padding,10 0);
                                @include vw-font-mo(400, 30, 30);

                                &:after {
                                    display:none;
                                    @include vw-convert-mo(height,3);
                                    @include vw-convert-mo(bottom,0);
                                }
                            }
                        }

                        @at-root .desktop & {
                            button:hover {
                                .btn-txt {
                                    @include vw-font-mo(900);
                                    &:after {display:block;}
                                }
                            }
                        }
                        button.on {
                            .btn-txt {
                                @include vw-font-mo(900);
                                &:after {display:block;}
                            }
                        }
                    }
                }

                .search-item-warp {
                    display:block;
                    width:100%;
                    @include vw-convert-mo(height,80);
                    @include vw-convert-mo(margin-top,25);
                    @include vw-convert-mo(border-radius,40);

                    .inp-search {
                        @include vw-convert-mo(padding,0 20 0 80);
                        @include vw-convert-mo(border-radius,40);
                        @include vw-font-mo(400,34,80);
                        transform:translate3d(0,0,0);
                        opacity:1;
                    }
                    .btn-search {
                        @include vw-convert-mo(width,80);
                        right:auto;
                        left:0;
                    }
                    &.active {
                        .inp-search {}
                        .btn-search {}
                    }
                }
            }

            .creator-list-wrap {
                .creator-items-holder {
                    //display:inline-block;
                    @include vw-convert-mo(margin-top,80);

                    &:first-child {margin-top:0;}
                    &:nth-child(even) {
                        text-align:center;
                        padding-left:0;
                    }
                    .creator-item {
                        display:inline-block;
                        width:46.2%;
                        @include vw-convert-mo(margin-top,32);
                        @include vw-convert-mo(margin-bottom,32);
                        margin-left:1.9%;
                        margin-right:1.9%;

                        &:first-child,
                        &:last-child {
                            margin-left:1.9%;
                            margin-right:1.9%;
                        }
                    }
                }

                .el-comp-hex-img {
                    .item-img {
                        @include vw-convert-mo(width, 355);
                        @include vw-convert-mo(height, 409);
                        @include vw-convert-mo(padding-right, 22);
                        .hex-ct-cont {
                            @include vw-convert-mo(width,92);
                            @include vw-convert-mo(height,106);
                            @include vw-convert-mo(margin-bottom,62);
                            .hexagon {@include vw-convert-mo(font-size,106);}
                            .icons-wrap {
                                @include vw-convert-mo(padding,5);
                                .ico-category {
                                    @include vw-convert-mo(margin,5);
                                    @include vw-convert-mo(font-size,40);
                                }
                                &.type-2 .ico-category,
                                &.type-3 .ico-category,
                                &.type-4 .ico-category {@include vw-convert-mo(font-size,27);}
                            }
                        }
                    }
                    .item-tit {
                        @include vw-convert-mo(margin-top,42);
                        @include vw-convert-mo(margin-left,-10);
                        .txt-name {
                            display:inline-block; position:relative;
                            @include vw-font-mo(400,34,34);
                            .btn-detail-view {
                                position:absolute; left:100%; top:0;
                            }
                        }
                        .txt-info {
                            @include vw-convert-mo(margin-top,20);

                            &_item {
                                @include vw-convert-mo(margin, 0 10);
                                .txt {@include vw-font-mo(400,24,24);}
                                .hex-cont-small {
                                    @include vw-convert-mo(width,30);
                                    @include vw-convert-mo(height,34);
                                    .hexagon {@include vw-convert-mo(font-size,34);}
                                    .icons-wrap {
                                        padding:0;
                                        .ico-category {@include vw-font-mo('',17);}
                                    }
                                }
                            }
                        }
                    }
                }

                & + .btn-wrap {
                    @include vw-convert-mo(margin-top, 150);
                }
            }

            .creator-wrap {
                @include vw-convert-mo(min-height,710);
            }

            // type - result or no result
            .result-wrap {
                &.on {}
            }

            .no-results-wrap {
                @include vw-convert-mo(height, 918);
            }
        }

        .ori-cont-channel {
            .inner-content-wrap {
                @include vw-convert-mo(padding-top,170);
            }
            .content-tit-wrap {
                @include vw-convert-mo(margin-bottom,60);
                .txt-tit_explain {letter-spacing:-0.14em;}
            }

            .table-list-wrap {
                .list-item {
                    @include vw-convert-mo(margin, 27 0);
                    @include vw-convert-mo(padding-top, 25);
                    @include vw-convert-mo(padding-bottom, 25);
                    padding-right:0;

                    &:first-child {padding-top:0;}
                    &:last-child {padding-bottom:0;}

                    .item-img {
                        width:26.625% !important;
                    }
                    .item-text {
                        width:73.375% !important;
                        @include vw-convert-mo(margin-top,-8);
                        @include vw-convert-mo(padding-left,46);
                        text-align:left;

                        .txt-tit {@include vw-font-mo('',40,55);}
                        .txt-tit_explain {
                            @include vw-convert-mo(margin-top, 35);
                            @include vw-font-mo(400,30,46);
                        }
                        .txt-info-list {

                        }
                    }

                    &.item-1 figure {background:{image: url("../images/mobile/creator_creators/chn_creator_img_1.jpg")};}
                    &.item-2 figure {background:{image: url("../images/mobile/creator_creators/chn_creator_img_2.jpg")};}
                    &.item-3 figure {background:{image: url("../images/mobile/creator_creators/chn_creator_img_3.jpg")};}
                }
            }
        }
    }
}



////////////////////////////////////////////////////////////////////////////////////////////
// CREATORS DETAIL POPUP
///////////////////////////////////////////////////////////////////////////////////////////
.popup{ opacity: 0; transition:opacity 0.1s 0.01s ease-out; overflow:hidden;
    .dim{ position:fixed;width:100%; height:100%; left:0; top:0; background-color:rgba(0,0,0,0.7); opacity:0; transition:opacity 0.1s 0.01s ease-out; overflow:hidden; }
    .inner-popup{
        .hidden-area{
            display:block; position:absolute; width:100%; height:100%;
        }

        position:absolute; width:100%; height:100%; overflow-y:scroll;

        .content-wrap{ position:absolute; left:50%; top:100px; transform: translateX(-50%); @include convert-pc-tb(width,980); overflow:hidden;
            .inner-content-wrap{ @include convert-pc-tb(margin-top,0);padding:0; margin:0 auto; background-color:#fff;
                .btn-close{ position:absolute; @include convert-pc-tb(width,27*2); @include convert-pc-tb(height,27*2); @include convert-pc-tb(top,26.5); @include convert-pc-tb(right,26.5); left:auto; @include font-pc-tb(900,14,14); color:#fff;
                    span{ display:block; width:inherit; height:inherit;
                        img{ position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); @include convert-pc-tb(width,27); @include convert-pc-tb(height,27); }
                    }
                }
                .img-box{
                    .v-slick{
                        .slick-con{ overflow:hidden; touch-action: pan-x;
                            .slick-list{ overflow:hidden; }
                        }
                    }
                    .slick-slide{position:relative; @include convert-pc-tb(height,550); background-color:#262626;
                        &:before {
                            display:block; content:''; position:absolute; width:100%; height:100%; top:0; left:0; right:0; bottom:0;
                            background:{repeat:no-repeat; size:cover; position:center center; image:url("../images/pc/creator_creators/popup_creator_no_image.jpg");};
                        }
                        > div{position:relative; @include convert-pc-tb(height,550);}
                    }
                    .slick-track{ font-size:0; }
                    .slick-arrow{ display:none!important; }
                    /*.big-thumb-box{ font-size:0; overflow:hidden;*/
                    .big-thumb{ display:inline-block; height:inherit; background:{ repeat: no-repeat; size:cover; position:center; } @include convert-pc-tb(width,980); @include convert-pc-tb(height,550); }
                    /*}*/

                    ul.small-thumbs{ font-size:0; @include convert-pc-tb(height,135); background-color:#000;
                        li{ position:relative; display:inline-block; width:25%; @include convert-pc-tb(height,135); background-color:#343434;
                            &:before {
                                display:block; content:''; position:absolute; width:100%; height:100%; top:0; left:0; right:0; bottom:0;
                                background:{repeat:no-repeat; size:cover; position:center center; image:url("../images/pc/creator_creators/popup_creator_thumb_no_image.jpg");};
                            }
                            a{display:block; position:relative; height: inherit;
                                @at-root .desktop & {
                                    &:hover{
                                        &:before{ content:''; display:block; position:absolute; width:100%; height:inherit; background-color:rgba(0,0,0,0); }
                                    }
                                }
                                .img-box{ width:inherit; height:inherit; background:{ size:cover; repeat: no-repeat; position-y:center; }; }
                            }
                            a:before{ content:''; display:block; position:absolute; width:100%; height:inherit; background-color:rgba(0,0,0,0.7); transition: background-color 0.3s ease-out; }
                            &.on{
                                a{
                                    &:before{ background-color:rgba(0,0,0,0); }
                                }
                            }
                            &.empty{
                                a{ cursor: default;
                                    &:before{ background-color:rgba(0,0,0,0); }
                                    .img-box{ background-image:url("../images/pc/creator_creators/empty_thumb.jpg")!important;}
                                }
                            }
                        }
                    }
                }
                .txt-box {
                    @include convert-pc-tb(width,840); @include convert-pc-tb(margin,52 auto 0);
                    font-size:0; background-color:#fff; color:$sd-black; vertical-align: top;
                    dl{ border-bottom:1px solid #000; @include convert-pc-tb(padding-bottom,58);
                        dt{ display:inline-block; vertical-align: top; @include convert-pc-tb(margin-right,100);
                            strong{
                                display:block;
                                @include font-pc-tb(900,72,72); letter-spacing:-0.05em;
                            }
                            .popular{ @include convert-pc-tb( margin,26 0 16 );
                                //span{
                                //    display:none; @include convert-pc-tb( margin-right,20 );
                                //    @include font-pc-tb(900,14,33); letter-spacing:-0.05em;
                                //    em{ display:inline-block; vertical-align:middle; @include convert-pc-tb( margin-right,8 ); }
                                //    i{ display:inline-block; height:100%; vertical-align:middle; }
                                //}
                                //span.yt{ display:inline-block; }
                                //&.tw{
                                //    .tw{ display:inline-block; }
                                //}

                                span{
                                    display:inline-block; @include convert-pc-tb( margin-right,20 );
                                    @include font-pc-tb(900,14,33); letter-spacing:-0.05em;
                                    em{ display:inline-block; vertical-align:middle; @include convert-pc-tb( margin-right,8 ); }
                                    i{ display:inline-block; height:100%; vertical-align:middle; }
                                }

                            }
                        }
                        dd{ display:block;
                            @include font-pc-tb(400,16,36); letter-spacing:-0.075em;
                        }
                    }
                }
                .vid-box{ @include convert-pc-tb(width,820); margin:0 auto;
                    strong{
                        display:block; @include font-pc-tb(900,18,18); @include convert-pc-tb(padding,40 0 34 0 );
                    }
                    ul{ font-size:0; @include convert-pc-tb(padding-bottom,80);
                        $thumbsWidth:260; $thumbsHeight:146;
                        $thumbsDis:820; $thumbsLenLine:3;
                        $thumbMargin: ( ($thumbsDis - ( $thumbsWidth * $thumbsLenLine )) / ($thumbsLenLine - 1) ) / $thumbsDis;
                        @include convert-pc-tb( width,$thumbsDis );

                        li{ vertical-align: top;
                            display:inline-block; width:percentage($thumbsWidth / $thumbsDis); margin-right:percentage($thumbMargin);
                            figure{
                                .img-box{ overflow:hidden;
                                    .img{ width:inherit; @include convert-pc-tb(height,$thumbsHeight); background-color:#ebebeb; background:{ repeat: no-repeat; size:cover; }; transition:transform 0.3s $ease-in-out-quad;
                                        @at-root .desktop & {
                                            &:hover{ transform:scale(1.07); }
                                        }
                                    }
                                }

                                figcaption{ color:$sd-black; @include font-pc-tb(400,14,18); letter-spacing:-0.05em; @include convert-pc-tb(margin-top,24); }
                            }
                        }
                        li:last-child{ margin-right:0; }
                    }
                }
            }
        }
    }

    @include break-point($mobile) {
        .dim{ height:200vh; top:-100vh; background-color : rgba(0, 0, 0, 1); }
        .inner-popup{
            .content-wrap{ position:absolute; @include vw-convert-mo(top,0); width:100%;
                .inner-content-wrap{ @include vw-convert-mo(margin-top,0); padding:0; margin:0 auto;
                    .btn-close{ @include vw-convert-mo(width,40*3); @include vw-convert-mo(height,40*3); @include vw-convert-mo(top,45); @include vw-convert-mo(right,45);
                        span{ display:block; width:inherit; height:inherit;
                            img{ @include vw-convert-mo(width,40); @include vw-convert-mo(height,40); }
                        }
                    }
                    .img-box{
                        .slick-slide{ @include vw-convert-mo(height,540);
                            > div{ @include vw-convert-mo(height,540); }
                        }
                        .big-thumb-box{
                            .big-thumb{ height:inherit; background:{ repeat: no-repeat; size:cover; position:center; } @include vw-convert-mo(height,800); }
                        }
                        ul.small-thumbs{ font-size:0; @include vw-convert-mo(height,140); margin-top:-1px;
                            li{ @include vw-convert-mo(height,140);
                                a{
                                    .img-box{ width:inherit; height:inherit; background:{ size:cover; repeat: no-repeat; position:center; }; }
                                }
                                a:before{ content:''; display:block; position:absolute; }
                                &.on{
                                    a{

                                    }
                                }
                                &.empty{
                                    a{
                                        // .img-box{ background-image:url("../images/pc/creator_creators/empty_thumb.jpg")!important;}
                                    }
                                }
                            }
                        }
                    }
                    .txt-box{ @include vw-convert-mo(width,800); margin:0 auto; @include vw-convert-mo(margin-top,80);
                        dl{ @include vw-convert-mo(padding-bottom,100);
                            dt{ display:block; vertical-align: top; margin:0;
                                strong{
                                    @include vw-font-mo(900,110,110);
                                }
                                .popular{ @include vw-convert-mo( margin,40 0 30 );
                                    //span{
                                    //    display:none;
                                    //    @include vw-font-mo(900,30,63);
                                    //    em{ display:inline-block; vertical-align:middle; @include vw-convert-mo( margin-right,10 ); }
                                    //    i{ display:inline-block; height:100%; vertical-align:middle; }
                                    //}
                                    //span.yt{ display:inline-block; @include vw-convert-mo( margin-right,30 );}
                                    //&.tw{
                                    //    .tw{ display:inline-block; }
                                    //}

                                    span{
                                        display:inline-block;
                                        @include vw-font-mo(900,30,63);
                                        em{ display:inline-block; vertical-align:middle; @include vw-convert-mo( margin-right,10 ); }
                                        i{ display:inline-block; height:100%; vertical-align:middle; }
                                    }
                                    span.yt{ display:inline-block; @include vw-convert-mo( margin-right,30 );}
                                    span.tw{ display:inline-block; @include vw-convert-mo( margin-right,30 );}
                                    //&.tw{
                                    //    .tw{ display:inline-block; }
                                    //}
                                }
                            }
                            dd {
                                display:inline-block;
                                @include vw-font-mo(400,30,64);
                            }
                        }
                    }
                    .vid-box{ @include vw-convert-mo(width,800); margin:0 auto;
                        strong{
                            display:block; @include vw-convert-mo(padding,64 0 50 0);
                            @include vw-font-mo(900,34,34); letter-spacing:-0.065em;
                        }
                        ul{ font-size:0;
                            $thumbsWidth:680; $thumbsHeight:380;
                            $thumbsDis:680; $thumbsLenLine:1;

                            li{
                                display:block; width:percentage($thumbsWidth / $thumbsDis); margin-right:0;
                                figure{
                                    .img-box{ overflow:hidden;
                                        .img{ width:inherit; @include vw-convert-mo(height,$thumbsHeight); background:{ repeat: no-repeat; size:cover;}; }
                                    }

                                    figcaption{ color:$sd-black; @include vw-font-mo(400,30,40); letter-spacing:-0.015em; @include vw-convert-mo(margin,30 0 60); }
                                }
                            }
                            li:last-child{ @include vw-convert-mo(margin-bottom,80); }
                        }
                    }
                }
            }
        }
    }

    &.onShow{ opacity: 1;
        .dim{ opacity:1; }
    }
}
