@charset "utf-8";


.creator-agency {
    .content-wrap {
        .inner-content-wrap {}
    }

    // agency - section
    .section-keyvisual {
    }
    .section-contents {
        .back-color-box {
            background-color:#fff;

            // details
            &.deco-bg-1 {}
        }
    }
    // agency - decorate
    .content-deco-box {
        &.top-left {display:none;}
        &.bottom-right {.box {background-color:$sd-pink;}}
    }


    // agency - contents
    .agency-kv {
        padding:0;

        .kv-slide-wrap {
            .kv-item-wrap {
                @include convert-pc-tb(top, 0);
                height:100%;
                overflow:visible;

                .kv-item {height:100%; padding:0; overflow:visible; //position:absolute; 
                    &-tit {
                        position:absolute;
                        width:80%; @include convert-pc-tb(height, 453);
                        @include convert-pc-tb(top, 208);
                        @include convert-pc-tb(left, 150);
                        @include convert-pc-tb(padding-bottom, 20);

                        .txt-tit {
                            @include font-pc-tb(900, 65, 80); letter-spacing:-0.05em; color:$sd-blue;
                            &.tit-row-4 {
                                @include font-pc-tb(900, 48, 58);
                            }
                        }
                        .txt-tit_desc {
                            position: absolute;
                            @include convert-pc-tb(width, 600); @include convert-pc-tb(height, 158);
                            @include convert-pc-tb(top, 256); @include convert-pc-tb(padding-top, 12); margin:0;
                            letter-spacing:-0.045em; overflow: hidden; //@include convert-pc-tb(margin-top,34); margin-left:0;
                        }

                        // only for agency
                        .txt-info {
                            position: absolute; @include convert-pc-tb(top, 428); color:$sd-black; //@include convert-pc-tb(margin-top,50);
                            &_name {@include font-pc-tb(900, 18, 18); letter-spacing:-0.02em;}
                            &_channel {
                                @include convert-pc-tb(margin-top,8);
                                @include convert-pc-tb(margin-left,1);
                                font-size:0;

                                > span {display:inline-block; vertical-align:middle;}

                                .sns-icon-wrap {
                                    display:inline-block;
                                    vertical-align:middle;
                                    &.hex-cont-small {
                                        @include convert-pc-tb(width,18); @include convert-pc-tb(height,20);

                                        .hexagon {
                                            @include convert-pc-tb(font-size,20);
                                            background-color:$sd-black;

                                            &:before {border-bottom-color:$sd-black}
                                            &:after {border-top-color:$sd-black;}
                                        }
                                        .icons-wrap {
                                            padding:0;
                                            text-align:center;
                                            .ico-sns-youtube {
                                                display:inline-block;
                                                @include font-pc-tb('', 10);
                                                opacity:0.7;
                                            }
                                        }
                                    }
                                }
                                .txt-subscriber {
                                    @include convert-pc-tb(margin-left,4);
                                    @include font-pc-tb(400, 14, 26);
                                    letter-spacing: -0.04em;
                                }
                                .txt-hits {
                                    @include convert-pc-tb(margin-left, 14);
                                    @include font-pc-tb(400, 14, 26);
                                }
                            }
                        }
                    }

                    &-img {
                        position:relative; width:100%; height:100%;
                    }
                }
            }

            .kv-img-wrap {
                .kv-item {
                    // image url
                    &.kv-item-1 .kv-item-img figure {background:{image: url("../images/pc/creator_agency/kv_img_1.png")};}
                    &.kv-item-2 .kv-item-img figure {background:{image: url("../images/pc/creator_agency/kv_img_2.png")};}
                    &.kv-item-3 .kv-item-img figure {background:{image: url("../images/pc/creator_agency/kv_img_3.png")};}
                    &.kv-item-4 .kv-item-img figure {background:{image: url("../images/pc/creator_agency/kv_img_4.png")};}
                    &.kv-item-5 .kv-item-img figure {background:{image: url("../images/pc/creator_agency/kv_img_5.png")};}
                }
            }
        }

        // slick
        .slick-slider {
            .kv-item {
                .kv-item-tit {
                    .txt-tit {
                        opacity:0;
                        transform:translate3d(30%,0,0);

                        // editedStyles
                        span.txt-box{display:block; transform:translate3d(0,60%,0); opacity:0; padding:0;}
                    }
                    .txt-tit_desc {
                        opacity:0;
                        transform:translate3d(30%,0,0);

                        // editedStyles
                        span.txt-box{ display:block; transform:translate3d(0,-15%,0); opacity:0; }
                    }
                    .txt-info{
                        opacity:0;
                        //transform:translate3d(30%,0,0);

                        // editedStyles
                        strong.txt-info_name{ display:block; transform:translate3d(0,0,0); opacity:0; }
                    }
                }
                &.onShow {
                    $transDuration : 0.6s;
                    $transDelay :0s;
                    $transEasing : cubic-bezier(0.55, 0.01, 0.04, 1);

                    .kv-item-tit {
                        .txt-tit {
                            opacity:1;
                            transform:translate3d(0,0,0);
                            transition:opacity 0.3s $transDelay+0.2 ease-out, transform $transDuration $transDelay $transEasing;

                            // resetStyles
                            span.txt-box{transform:none;  opacity:1; transition:all; }
                        }
                        .txt-tit_desc {
                            opacity:1;
                            transform:translate3d(0,0,0);
                            transition:opacity 0.3s $transDelay+0.3 ease-out, transform ($transDuration) $transDelay+0.1 $transEasing;

                            // resetStyles
                            span.txt-box{transform:none;  opacity:1; transition:all; }
                        }
                        .txt-info {
                            opacity:1;
                            transition:opacity 0.4s $transDelay+0.5s;

                            // resetStyles
                            strong.txt-info_name{transform:none;  opacity:1; transition:all; }
                        }
                    }
                }
                &.onHide {
                    $transDuration : 0.2s;
                    $transDelay :0s;
                    $transEasing: cubic-bezier(0.66,0, 0.26, 1);
                    .kv-item-tit {
                        .txt-tit {
                            opacity:0;
                            transform:translate3d(-15%,0,0);
                            transition:opacity 0.15s $transDelay ease-out, transform $transDuration $transDelay ease-out;

                            // editedStyles
                            span.txt-box{display:block; transform:none; opacity:1;}
                        }
                        .txt-tit_desc {
                            opacity:0;
                            transform:translate3d(-15%,0,0);
                            transition:opacity 0.15s $transDelay ease-out, transform $transDuration $transDelay ease-out;

                            // editedStyles
                            span.txt-box{display:block; transform:none; opacity:1;}
                        }
                        .txt-info {
                            opacity:0;
                            transform:translate3d(-15%,0,0);
                            transition:opacity 0.15s $transDelay ease-out, transform $transDuration $transDelay ease-out;

                            // editedStyles
                            strong.txt-info_name{display:block; transform:none; opacity:1;}
                        }
                    }
                }
                &.onInit {
                    $transDuration : 4s;
                    $transDelay :0s;
                    $transEasing : cubic-bezier(0.13, 0.16, 0, 1);

                    // editedStyles
                    $defaultDelay : 0.15;
                    .kv-item-tit {
                        .txt-tit {
                            // defaultStyles
                            opacity:1;
                            transform:translate3d(0,0,0);
                            transition:opacity $transDuration $transDelay ease-out, transform $transDuration $transDelay $transEasing;

                            // resetStyles
                            opacity:1;
                            transform:none;
                            transition:all;

                            // editedStyles
                            span.txt-box{transform:translate3d(0,0,0); opacity:1;
                                transition:transform 0.5s $defaultDelay - 0.15s cubic-bezier(0.29, 0.13, 0.25, 1), opacity 0.3s $defaultDelay - 0.15s;
                                padding:0;
                            }
                        }
                        .txt-tit_desc {
                            // defaultStyles
                            opacity:1;
                            transform:translate3d(0,0,0);
                            transition:opacity ($transDuration)-0.2s $transDelay - 0.05s ease-out, transform ($transDuration) $transDelay - 0.05s $transEasing;

                            // resetStyles
                            opacity:1;
                            transform:none;
                            transition:all;

                            // editedStyles
                            span.txt-box{
                                transform:translate3d(0,0,0); opacity:1; transition:transform 0.5s ( $defaultDelay + 0.1 )+s cubic-bezier(0.29, 0.13, 0.25, 1), opacity 0.3s ( $defaultDelay + 0.1 )+s ease-out;
                            }
                        }
                        .txt-info{
                            // defaultStyles
                            opacity:1;
                            transform:translate3d(0,0,0);
                            transition:opacity ($transDuration)-0.5s $transDelay+0.3s ease-out, transform ($transDuration)-0.5s $transDelay+0.3s $transEasing;

                            // resetStyles
                            opacity:1;
                            transform:none;
                            transition:all;

                            // editedStyles
                            strong.txt-info_name{
                                transform:translateY(0); opacity:1; transition:transform 0.55s ( $defaultDelay + 0.6 )+s cubic-bezier(0.29, 0.13, 0.25, 1), opacity 0.4s ( $defaultDelay + 0.2 )+s ease-out;
                            }
                        }
                    }
                }
            }
        }

        .btn-thumb-wrap {
            position:absolute;
            @include convert-pc-tb(top,740); @include convert-pc-tb(left,150);

            .hex-cont {
                .hex-wrap {@include convert-pc-tb(margin-top,-1);}
                .hex-border {height:198%;}
            }
            .thumb-item{
                // image url
                &.thumb-item-1 figure {background:{image: url("../images/pc/creator_agency/agency_thumb_indi_img_1.jpg")};}
                &.thumb-item-2 figure {background:{image: url("../images/pc/creator_agency/agency_thumb_indi_img_2.jpg")};}
                &.thumb-item-3 figure {background:{image: url("../images/pc/creator_agency/agency_thumb_indi_img_3.jpg")};}
                &.thumb-item-4 figure {background:{image: url("../images/pc/creator_agency/agency_thumb_indi_img_4.jpg")};}
                &.thumb-item-5 figure {background:{image: url("../images/pc/creator_agency/agency_thumb_indi_img_5.jpg")};}

                &.selected {

                }
            }
        }
    }

    .agency-forte {
        .inner-content-wrap {}
        .content-tit-wrap {
            @include convert-pc-tb(margin-bottom,114);
            .txt-tit {
                span {letter-spacing:-0.045em;}
            }
        }
        .forte-list-wrap {
            .tb-2-col-item:nth-child(1) {
                .item-img figure {
                    background:{image: url("../images/pc/creator_agency/img_forte_list_1.png")};
                }
            }
            .tb-2-col-item:nth-child(2) {
                .item-img figure {
                    background:{image: url("../images/pc/creator_agency/img_forte_list_2.png")};
                }
            }
            .tb-2-col-item:nth-child(3) {
                .item-img figure {
                    background:{image: url("../images/pc/creator_agency/img_forte_list_3.png")};
                }
            }
            .tb-2-col-item:nth-child(4) {
                .item-img figure {
                    background:{image: url("../images/pc/creator_agency/img_forte_list_4.png")};
                }
            }
        }
    }

    // slick
    .slick-list {
        height:100%; overflow:visible; //overflow:hidden;
        .slick-slide {overflow:visible;}
        .slick-slide > div {height:100%;}
        .slick-track {height:100%;}
    }

    ////////////////////////////////////////////////////////////////////////////////////////////
    // MOBILE 버전
    ///////////////////////////////////////////////////////////////////////////////////////////
    @include break-point($mobile) {

        .section-contents {
            ///@include vw-convert-mo(margin-top,-334);

            .back-color-box {
                &.deco-bg-1  {}
            }
        }

        // agency - contents
        .agency-kv {
            .kv-slide-wrap {
                .kv-item-wrap {
                    top:0;
                    .kv-item {position:relative; width:100%; height:100%; padding:0;
                        &-tit {
                            position:absolute; width:100%; @include vw-convert-mo(top,200);
                            @include vw-convert-mo(padding, 0 80);
                            margin-top:0;

                            .txt-tit {
                                @include vw-font-mo(900, 60, 72);
                                letter-spacing: -0.045em;

                                &.txt-length-lots {
                                    @include vw-font-mo(900, 50, 64);
                                }
                            }
                            .txt-tit_desc {
                                position:static;
                                @include vw-convert-mo(margin-top, 30);
                                @include vw-font-mo(400, 30, 54);
                                letter-spacing:-0.085em;
                            }

                            // only for agency
                            .txt-info {
                                position:static;
                                @include vw-convert-mo(margin-top, 30);

                                &_name {@include vw-font-mo(900, 30, 36);}
                                &_channel {
                                    @include vw-convert-mo(margin-top, 20);
                                    .sns-icon-wrap {
                                        &.hex-cont-small {
                                            @include vw-convert-mo(width,35); @include vw-convert-mo(height,39);

                                            .hexagon {
                                                @include vw-convert-mo(font-size,39);
                                            }
                                            .icons-wrap {
                                                .ico-sns-youtube {
                                                    @include vw-font-mo('', 20);
                                                }
                                            }
                                        }
                                    }
                                    .txt-subscriber {
                                        @include vw-convert-mo(margin-left,8);
                                        @include vw-font-mo(400, 28, 40);
                                    }
                                    .txt-hits {
                                        @include vw-convert-mo(margin-left, 14);
                                        @include vw-font-mo(400, 28, 40);
                                    }
                                }
                            }
                            .txt-subscriber {
                                @include convert-pc-tb(margin-left,4);
                                @include font-pc-tb(400, 14, 26);
                                letter-spacing: -0.03em;
                            }
                            .txt-hits {
                                @include convert-pc-tb(margin-left, 14);
                                @include font-pc-tb(400, 14, 26);
                            }
                        }
                    }
                }

                .kv-img-wrap {
                    &:before {
                        display:block; position:absolute; content:''; width:100%; @include vw-convert-mo(height,880);
                        left:0; right:0; bottom:0;
                        background: -moz-linear-gradient(top, rgba(245,195,2,0) 15%, rgba(245,195,2,1) 90%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(top, rgba(245,195,2,0) 15%,rgba(245,195,2,1) 90%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to bottom, rgba(245,195,2,0) 15%,rgba(245,195,2,1) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b2b2b2', endColorstr='#b2b2b2',GradientType=0 ); /* IE6-9 */
                    }
                    .kv-item {
                        // image size remove
                        .kv-item-img {
                            figure {}
                        }
                        // image url
                        &.kv-item-1 .kv-item-img figure {background:{image: url("../images/mobile/creator_agency/kv_img_1.png")};}
                        &.kv-item-2 .kv-item-img figure {background:{image: url("../images/mobile/creator_agency/kv_img_2.png")};}
                        &.kv-item-3 .kv-item-img figure {background:{image: url("../images/mobile/creator_agency/kv_img_3.png")};}
                        &.kv-item-4 .kv-item-img figure {background:{image: url("../images/mobile/creator_agency/kv_img_4.png")};}
                        &.kv-item-5 .kv-item-img figure {background:{image: url("../images/mobile/creator_agency/kv_img_5.png")};}
                    }
                }
            }

            // slick mobile setting
            .slick-slider {
                .slick-track {
                    white-space:nowrap;
                    .slick-slide {display:inline-block;}
                }
                .kv-item {
                    &.onSetMobile {
                        .kv-item-tit {
                            .txt-tit {
                                opacity:1;
                                transform:translate3d(0,0,0);

                                span.txt-box {opacity:1; transform:translate3d(0,0,0);}
                            }
                            .txt-tit_desc {
                                opacity:1;
                                transform:translate3d(0,0,0);

                                span.txt-box {opacity:1; transform:translate3d(0,0,0);}
                            }
                            .txt-info {
                                opacity:1;
                                transform:translate3d(0,0,0);

                                span.txt-box {opacity:0; transform:translate3d(0,0,0);}
                            }
                        }
                    }
                    &.onShow {
                        .kv-item-tit {
                            .txt-tit {
                                opacity:1;
                                transform:translate3d(0,0,0);

                                span.txt-box {opacity:1; transform:translate3d(0,0,0);}
                            }
                            .txt-tit_desc {
                                opacity:1;
                                transform:translate3d(0,0,0);

                                span.txt-box {opacity:1; transform:translate3d(0,0,0);}
                            }
                            .txt-info {
                                opacity:1;
                                transform:translate3d(0,0,0);

                                span.txt-box {opacity:1; transform:translate3d(0,0,0);}
                            }
                        }
                    }
                    &.onHide {
                        .kv-item-tit {
                            .txt-tit {
                                opacity:0.6;
                                transform:translate3d(0,0,0);

                                span.txt-box {opacity:1; transform:translate3d(0,0,0);}
                            }
                            .txt-tit_desc {
                                opacity:0.6;
                                transform:translate3d(0,0,0);

                                span.txt-box {opacity:1; transform:translate3d(0,0,0);}
                            }
                            .txt-info {
                                opacity:1;
                                transform:translate3d(0,0,0);

                                span.txt-box {opacity:1; transform:translate3d(0,0,0);}
                            }
                        }
                    }
                    &.onInit {
                        .kv-item-tit {
                            .txt-tit {
                                opacity:1;
                                transform:translate3d(0,0,0);

                                span.txt-box {opacity:1; transform:translate3d(0,0,0);}
                            }
                            .txt-tit_desc {
                                opacity:1;
                                transform:translate3d(0,0,0);

                                span.txt-box {opacity:1; transform:translate3d(0,0,0);}
                            }
                            .txt-info {
                                opacity:1;
                                transform:translate3d(0,0,0);

                                span.txt-box {opacity:1; transform:translate3d(0,0,0);}
                            }
                        }
                    }
                }
            }

            .btn-thumb-wrap {
                @include vw-convert-mo(top,1286); @include vw-convert-mo(left,80);

                .hex-cont {
                    .hex-wrap {@include vw-convert-mo(margin-top,-1);}
                }
                .thumb-item{
                    // image url
                    &.thumb-item-1 figure {background:{image: url("../images/mobile/creator_agency/agency_thumb_indi_img_1.jpg")};}
                    &.thumb-item-2 figure {background:{image: url("../images/mobile/creator_agency/agency_thumb_indi_img_2.jpg")};}
                    &.thumb-item-3 figure {background:{image: url("../images/mobile/creator_agency/agency_thumb_indi_img_3.jpg")};}
                    &.thumb-item-4 figure {background:{image: url("../images/mobile/creator_agency/agency_thumb_indi_img_4.jpg")};}
                    &.thumb-item-5 figure {background:{image: url("../images/mobile/creator_agency/agency_thumb_indi_img_5.jpg")};}
                }
            }
        }

        .agency-forte {
            .content-tit-wrap {
                @include vw-convert-mo(margin-bottom,58);
            }
            .forte-list-wrap {
                .tb-2-col-item:nth-child(1) {
                    .item-img figure {
                        background:{image: url("../images/mobile/creator_agency/img_forte_list_1.png")};
                    }
                }
                .tb-2-col-item:nth-child(2) {
                    .item-img figure {
                        background:{image: url("../images/mobile/creator_agency/img_forte_list_2.png")};
                    }
                }
                .tb-2-col-item:nth-child(3) {
                    .item-img figure {
                        background:{image: url("../images/mobile/creator_agency/img_forte_list_3.png")};
                    }
                }
                .tb-2-col-item:nth-child(4) {
                    .item-img figure {
                        background:{image: url("../images/mobile/creator_agency/img_forte_list_4.png")};
                    }
                }
            }
        }

        //slick
        .slick-list {width:100%; overflow:visible;}
    }
}
