@charset "utf-8";


.error {
    .back-color-box {
        display:none;

        // details
        &.deco-bg-1 {}
        &.deco-bg-2 {}
    }

    // decorate
    .content-deco-box {
        &.top-left { .box{ background-color:$sd-pink; }}
        &.bottom-right {.box {background-color:$sd-yellow; }}
    }

    // contents
    .section-contents {
        &.contents-single {
            padding:0;
        }
    }

    .content-wrap {
        .inner-content-wrap {
            position:relative;
            height:100%;
            @include convert-pc-tb(min-height, 800);
            @include convert-pc-tb(padding, 100 0);
        }
        .content-txt-box {
            position:absolute;
            width:100%;
            left:50%; top:50%; @include convert-pc-tb(margin-top,100);
            transform:translate3d(-50%,-50%,0);
            text-align:center;

            h2 {@include font-pc-tb(mheavy, 90,90); letter-spacing:-0.025em; color:$sd-pink;}
            p {@include font-pc-tb(900, 20,20); letter-spacing:-0.045em; color:#fff;}
            .btn-wrap {
                @include convert-pc-tb(margin-top,40);
            }
        }
    }
    ////////////////////////////////////////////////////////////////////////////////////////////
    // MOBILE 버전
    ///////////////////////////////////////////////////////////////////////////////////////////
    @include break-point($mobile) {

        .content-wrap {
            .inner-content-wrap {
                @include vw-convert-mo(min-height, 800);
                @include vw-convert-mo(padding, 300 0);
            }
            .content-txt-box {
                h2 {@include vw-font-mo(mheavy, 140,140);}
                p {@include vw-convert-mo(margin-top,20); @include vw-font-mo(900, 30,30);}
                .btn-wrap {
                    @include vw-convert-mo(margin-top,100);
                }
            }
        }

    }
}