@charset "utf-8";


.news {

    // decorate
    .content-deco-box {
        &.top-left {display:none;}
        &.bottom-right {.box{background-color:$sd-yellow;}}
    }

    // news - section
    .section-contents {
        &.contents-single {
            @include convert-pc-tb(padding-top, 150);
        }
        .back-color-box {
            background-color:#f6f6f6;

            // details
            &.deco-bg-1 {
                height:100%;
                @include convert-pc-tb(margin-top, 1172);
            }
            &.deco-bg-2 {
                display:none;
            }
        }
    }

    // news - contents
    .news-slider {
        padding:0;
        .inner-content-wrap {
            //@include convert-pc-tb(width, 1060);
            @include convert-pc-tb(padding, 0 110);

            a {display:block; width:100%; height:inherit;}
        }
        .news-slide-wrap {
            overflow-x:visible;
            white-space:nowrap;
            font-size:0;

            br {display:none;}

            .news-item {
                display:inline-block;
                position:relative;
                width:100%;
                @include convert-pc-tb(height, 638);
                vertical-align:top;

                .inner-item-wrap {
                    position:relative;
                    @include convert-pc-tb(width, 980);
                    height:inherit;
                    margin:0 auto;
                }
                .item-tit {
                    position:absolute;
                    width:100%; @include convert-pc-tb(height, 152);
                    bottom:0; left:0; right:0;
                    @include convert-pc-tb(padding, 38 50);
                    background-color:rgba(0,0,0,1);
                    color:#fff;
                    .ico-news-ct {
                        @extend .ico-reset;

                        position:absolute;
                        right:0; bottom:0;
                        @include convert-pc-tb(margin-bottom, 38);
                        @include convert-pc-tb(margin-right, 48);
                        @include font-pc-tb('', 12,12);
                        text-transform:uppercase;
                        text-align:right;
                    }
                    .txt-tit {
                        width:93%;
                        @include font-pc-tb('',30,42);
                        letter-spacing:-0.04em;
                        white-space:nowrap;
                        text-overflow:ellipsis;
                        overflow:hidden;
                    }
                    .txt-day {
                        display:block;
                        @include convert-pc-tb(margin-top, 20);
                        @include font-pc-tb(mxlight,16,16);
                        font-weight:normal;
                    }
                }
                .item-img {
                    width:inherit; height:inherit;
                    background-color:#000;
                    figure {
                        width:100%; height:100%;
                        background-size:cover;
                        background-position:center -76px;
                        background-repeat:no-repeat;
                    }
                }
            }
        }
        .item-count-wrap {
            width:100%;
            @include convert-pc-tb(padding-right,40);
        }
        .btn-prev-next-wrap {
            @include convert-pc-tb(top,316);
        }
    }

    .news-up-to {
        .inner-content-wrap {
            @include convert-pc-tb(padding-top, 108);
            @include convert-pc-tb(min-height, 1600);
        }

        .content-tit-wrap.tit-type-half-line {
            //.txt-tit span {letter-spacing:-0.1em;}
            //.txt-tit_explain {letter-spacing: -0.05em;}
        }

        .sort-menu-wrap {
            @include convert-pc-tb(padding-top, 18);
            @include convert-pc-tb(margin-bottom, 62);
            @include convert-pc-tb(margin-left, -15);
            font-size:0;
            li {
                display:inline-block;
                @include convert-pc-tb(margin, 0 5);
                color: $sd-black;
                vertical-align:middle;

                &:first-child {margin-left:0;}
                &:last-child {margin-right:0;}

                button {
                    .btn-txt {@include font-pc-tb(400, 18, 18);}
                    @at-root .desktop & {
                        &:hover {
                            .btn-txt {@include font-pc-tb(900);}
                        }
                    }
                }
                button.on {
                    .btn-txt {
                        @include font-pc-tb(900);
                    }
                }
            }
        }

        .recent-news-wrap {
            .news-list-wrap {
                opacity:0;
                font-size:0;
                @include convert-pc-tb(min-height, 600);
                .news-item {
                    //width:31.63%; @include convert-pc-tb(height, 482);
                    //
                    //@extend .type-card-shadow;
                }

                &.onTrans{
                    opacity: 1;
                    transition: opacity 0.6s;
                }
            }
            .btn-wrap {
                @include convert-pc-tb(margin-top, 74);
            }
        }
    }

    // slick
    .slick-list {overflow:visible;}
    .btn-prev-next-wrap {
        &.slick-arrow {
            @include convert-pc-tb(width, 1280);
            left:50%;  @include convert-pc-tb(margin-left, -640);
            z-index:1;
        }
    }
    ////////////////////////////////////////////////////////////////////////////////////////////
    // TABLET 버전
    ///////////////////////////////////////////////////////////////////////////////////////////
    @include break-point($tablet) {
        // news - contents
        .news-slider {
            .news-slide-wrap {
                .news-item {
                    .item-img {
                        width:inherit; height:inherit;
                        background-color:#000;
                        figure {
                            background-position:center -6vw;
                        }
                    }
                }
            }
        }
    }


    ////////////////////////////////////////////////////////////////////////////////////////////
    // MOBILE 버전
    ///////////////////////////////////////////////////////////////////////////////////////////
    @include break-point($mobile) {
        // decorate
        .content-deco-box {
            &.bottom-right {display:none;}
        }

        .section-contents {
            background-color:#f6f6f6;
            &.contents-single {
                @include vw-convert-mo(padding-top,194);
            }
            .back-color-box {
                // details
                &.deco-bg-1 {
                    @include vw-convert-mo(height, 1375);
                    @include vw-convert-mo(top, 0);
                    @include vw-convert-mo(margin-top, -330);
                    background-color:$sd-yellow;
                }
            }
        }

        // main - contents
        .news-slider {
            &.m-content-full {
                .inner-content-wrap {
                    @include vw-convert-mo(padding, 30 0 86);
                }
            }
            .news-slide-wrap {
                @include vw-convert-mo(padding, 0 60);

                br {display:block;}

                .news-item {
                    width:100%;
                    @include vw-convert-mo(height, 1170);

                    .inner-item-wrap {
                        width:100%;
                    }
                    .item-tit {
                        @include vw-convert-mo(height, 500);
                        @include vw-convert-mo(padding, 130 62 96);

                        .ico-news-ct {
                            top:auto;
                            bottom:0;
                            @include vw-convert-mo(margin-bottom, 96);
                            @include vw-convert-mo(margin-right, 62);
                            @include vw-font-mo('', 30,30);
                        }
                        .txt-tit {
                            width:100%;
                            @include vw-font-mo('',50,78);
                        }
                        .txt-day {
                            position:absolute;
                            left:0; bottom:0;
                            @include vw-convert-mo(margin, 0 0 96 62);
                            //@include vw-convert-mo(margin-top, 80);
                            @include vw-font-mo(mxlight,42,42);
                        }
                    }
                    .item-img {
                        figure{
                            background-position:center -26vw;
                        }
                    }
                }
                .slick-slide{
                    width:100%; @include vw-convert-mo(height, 1170);
                    @include vw-convert-mo(margin, 0 20);
                }

                .swiper-list{
                    @include vw-convert-mo(margin, 0 0);
                }
            }
            .btn-prev-next-wrap {display:none;}
        }

        .news-up-to {
            .content-tit-wrap {
                @include vw-convert-mo(margin-bottom, 64);
            }
            .sort-menu-wrap {
                @include vw-convert-mo(margin-bottom, 76);

                li {
                    @include vw-convert-mo(margin, 0 28);

                    button {
                        .btn-txt {@include vw-font-mo(400, 30, 30);}
                    }
                    button.on {
                        .btn-txt {
                            @include vw-font-mo(900);
                        }
                    }
                }
            }

            .recent-news-wrap {
                .news-list-wrap {@include vw-convert-mo(min-height, 1000);}

                .btn-wrap {
                    @include vw-convert-mo(margin-top, 120);
                }
            }
        }

        //slick
        .slick-list {width:100%; overflow:visible;}
    }
}
