@charset "utf-8";

html{
    &.iphone{
        footer {
            .logos {
                .google {
                    display: none;
                }
            }
        }
    }
    &.android{
        footer {
            .logos {
                .apple {
                    display: none;
                }
            }
        }
    }
}

footer,
.gnb-sd-info {
    position:relative;
    width: 100%;
    @include convert-pc-tb(height, 220);
    overflow: hidden;

    .inner-footer {
        letter-spacing: 0;
        overflow: hidden;
        background-color: #0c0c13;
    }

    .con{
        //display:table;
        @include convert-pc-tb(width, 1280);
        @include convert-pc-tb(height, 220);
        @include convert-pc-tb(padding, 68 150 52);
        margin: 0 auto;
        //.footer-l-area,
        //.footer-r-area {display: table-cell;}
    }

    .footer-area  {
        @include convert-pc-tb(max-width, 980);
        margin:0 auto;
    }

    // footer area
    .footer-l-area {vertical-align:top; float:left;}
    .footer-r-area {@include convert-pc-tb(padding-top,3); @include convert-pc-tb(padding-right,8); text-align:right; float:right;}

    // footer contents
    .logo-wrap {
        display:inline-block;
        //@include convert-pc-tb(width, 148);
        //@include convert-pc-tb(height, 18);
        a {
            display:block; width:100%; height:100%;
            //.sd-logo {width:100%; height:100%;}
        }
    }
    .btns-wrap,
    .info-wrap {
        a {
            color:#fff; opacity:0.7;
            transition:opacity 0.2s ease-out, color 0.2s ease-out;

            @at-root .desktop & {
                &:hover {opacity:1;}
                &:focus {}
            }
        }
        a, span {display:inline-block; vertical-align:middle;}
    }

    .btns-wrap {@include convert-pc-tb(margin-top, 18); font-size:0; color:#fff;
        li {
            display:inline-block; position:relative; @include convert-pc-tb(padding, 0 8);
            font-size:0;
            a {@include font-pc-tb(400, 14, 14); @include convert-pc-tb(padding, 5 0); letter-spacing:-0.045em;}
            &:before {
                display:inline-block; content:''; position:absolute;
                width:1px; @include convert-pc-tb(height,11); @include convert-pc-tb(top,7); left:0;
                background-color:#eae8ec; vertical-align:middle;
            }
            &:first-child {
                padding-left:0;
                &:before {display:none;}
            }
            &:last-child {padding-right:0;}
        }
    }
    .info-wrap {@include convert-pc-tb(margin-top, 10); color:#fff;
        li {
            display:inline-block; @include convert-pc-tb(margin, 0 4);
            @include font-pc-tb(100, 10, 10);
            letter-spacing:0.015em;
            &:first-child {margin-left:0;}
            &:last-child {margin-right:0;}

            a {opacity:1;}
        }
    }
    .sns-list-wrap {
        font-size:0;
        li {
            display:inline-block; @include convert-pc-tb(margin,0 12); vertical-align:top;
            &:first-child {margin-left:0;}
            &:last-child {margin-right:0;}

            &.item-npost {
                a .hex-bg {}
            }
        }
        a {
            display:block; position:relative; text-align:center;

            .hex-bg {
                display:block;
                @include convert-pc-tb(width, 32); @include convert-pc-tb(height, 37);
                background:{repeat:no-repeat; size:contain; position:center center; image: url("../images/common/")};
                transition:opacity 0.2s ease-out;
            }
            .box {
                display:inline-block; @include convert-pc-tb(width, 50); @include convert-pc-tb(height, 50) ;
                background-color:#5cb033;
                &.type-round {@include convert-pc-tb(border-radius, 6);}
            }
            .icon {
                display:inline-block; position:absolute; top:50%; left:50%;
                transform:translate3d(-50%, -50%, 0);
            }
            .ico-sns {
                &-npost {@include font-pc-tb('', 18);}
                &-youtube {@include font-pc-tb('', 14);}
                &-facebook,
                &-insta {@include font-pc-tb('', 14);}
            }
        }

        @at-root .desktop & {
            li {
                a:hover{
                    .hex-bg {opacity:0.6;}
                }
                a:focus{}

                &.item-npost {
                    a:hover {.hex-bg {opacity:1;}}
                }
            }
        }
    }
    .cert-wrap {
        @include convert-pc-tb(margin-top, 25); text-align:right;
        figure {
            display:inline-block; @include convert-pc-tb(width,37); @include convert-pc-tb(height,21);
            background-image:url("../images/common/")
        }
    }
}

footer {z-index:100;}
.gnb-sd-info {display:none;}

////////////////////////////////////////////////////////////////////////////////////////////
// MOBILE 버전
///////////////////////////////////////////////////////////////////////////////////////////

@include break-point($mobile){
    footer,
    .gnb-sd-info {
        .btns-wrap {@include vw-convert-mo(margin-bottom, 48);
            li {
                display:block;
                a {
                    @include vw-convert-mo(padding, 22);
                    @include vw-convert-mo(margin-left, -22);
                    @include vw-font-mo(400, 38, 38);
                    letter-spacing:-0.12em;
                    color:#b1b1b1;
                    opacity:1;
                }
                &:before {display:none;}
            }
        }
        .logo-wrap {
            display:block;
            @include vw-convert-mo(width, 243);
            @include vw-convert-mo(height, 30);
            @include vw-convert-mo(margin, 30 0);
            a {
                display:inline-block; width:100%; height:100%;
                .sd-logo {width:100%; height:100%;}
            }
        }
        .sns-list-wrap { //@include vw-convert-mo(margin, 30 0);
            li {
                @include vw-convert-mo(margin,0 20);
                &.item-npost {@include vw-convert-mo(margin-top, -5);}
            }
            a {
                .hex-bg {
                    @include vw-convert-mo(width, 88); @include vw-convert-mo(height, 102);
                    background:{repeat:no-repeat; size:contain; position:center center; image: url("../images/common/")};
                }

                .box {
                    @include vw-convert-mo(width, 114); @include vw-convert-mo(height, 114) ;
                    &.type-round {@include vw-convert-mo(border-radius, 10);}
                }

                .ico-sns {
                    &-npost {@include vw-font-mo('', 50);}
                    &-youtube {@include vw-font-mo('', 40);}
                    &-facebook,
                    &-insta {@include vw-font-mo('', 36);}
                }
            }
        }
        .info-wrap {@include vw-convert-mo(margin-top, 16); color:#757575;
            li {
                //@include vw-convert-mo(margin, 3 0);
                @include vw-font-mo(400, 23, 30); letter-spacing:-0.05em;
                a {
                    color:inherit;
                }
                &:first-child {margin-top:0;}
            }
        }
        .cert-wrap {
            position:absolute; @include vw-convert-mo(right,80); @include vw-convert-mo(bottom,77);
            figure {
                display:block;
                @include vw-convert-mo(width,96);
                @include vw-convert-mo(height,56);
            }
        }
    }
    .gnb-sd-info {
        display:block;
        //position:absolute;
        width:100%;
        height:auto;
        left:0; right:0;
        bottom:0;
        @include vw-convert-mo(padding, 97 80);
        background-color:transparent;
        //&.isIOS{
        //    @include vw-convert-mo(bottom, 124);
        //}
    }
    footer {
        @include vw-convert-mo(height, 290);
        background-color:#000;
        .inner-footer {height:100%;}
        .con {height:100%; @include vw-convert-mo(padding,80);}

        .footer-l-area,
        .footer-r-area {vertical-align:bottom;}

        .footer-r-area {position:absolute; @include vw-convert-mo(right,80); @include vw-convert-mo(bottom, 85);}

        .logo-wrap {
            margin-top:0;
        }
        .btns-wrap {display:none;}
        .sns-list-wrap {display:none;}
        .cert-wrap {
            position:static;
            //@include vw-convert-mo(bottom,88);
        }
    }
}




