@charset "utf-8";

body {
    // slick
    .v-slick {
        width:100%; height:100%;
    }
    //.slick-slider {transform:translate3d(0,0,0) !important; }
    .slick-list {
        overflow:hidden;
        transform:translate3d(0,0,1px);

        .slick-slide {
            outline:none;
        }
    }
    .slick-dots {
        display:block; position:absolute; bottom:0; left:0; @include convert-pc-tb(margin-left,7);
        li {
            display:inline-block; @include convert-pc-tb(margin, 0 5);
            &:first-child {margin-left:0;}
            &:last-child {margin-right:0;}

            button {
                position:relative; @include convert-pc-tb(width, 12); @include convert-pc-tb(height, 14);
                opacity:0.4; overflow:visible; transition:opacity 0.1s ease-in-out;
                &:before {
                    display:block; content:''; position:absolute;
                    width:100%; height:100%; top:0; left:0;
                    background:{repeat:no-repeat; position:center center; size:contain; image: url($path-common-img + "icon_indi_hexagon.png")};
                    transform-origin:50% 50%;
                }
            }

            &.slick-active button,
            button:hover {
                opacity:1;
            }
        }
    }
    .slick-dots-type-black {
        li {
            button {
                opacity:0.2;
                &:before {
                    background-image: url($path-common-img + "icon_indi_hexagon_bk.png");
                }
            }

            &.slick-active button,
            button:hover {
                opacity:1;
            }
        }
    }


    ////////////////////////////////////////////////////////////////////////////////////////////
    // MOBILE 버전
    ///////////////////////////////////////////////////////////////////////////////////////////
    @include break-point($mobile) {
        .slick-dots {
            @include vw-convert-mo(margin-left,7);
            li {
                @include vw-convert-mo(margin, 0 12);

                button {
                    @include vw-convert-mo(width, 28); @include vw-convert-mo(height, 33);
                }
            }
        }

    }
}