@charset "utf-8";

// color
$primary: #003879;
$primary2: #FF8500;
$red: #FF2828;
$red2: #FFBCBC;
$blue: #247CFF;
$blue2: #F2F8FF;
$green: #33C481; 

$default: #191F28;
$black2: #333D4B;
$black3: #4E5968;
$black4: #6B7684;
$black5: #B0B8C1;

$border: #E5E8EB;
$border2: #E4E4E4;
$border3: #C4C4C4;

$bg: #F9FAFB;
$bg2: #F9FCFF;