@charset "utf-8";
/* header style */

// 우측 퀵 영역을 제외한 가로영역

@function main-container-width(){
    @return calc(100% - 100px);
}
$main-container-width : main-container-width();

header{
    position: relative; z-index: 100;
    width:100%; height:75px; min-width:900px;

    > .inner-wrap {
        position: absolute; left:0; top:0;  z-index: 101;
        width:100%; height: inherit;
        background: #fff;
        
/*        &:after{
            display: block;
            position: absolute; left:40px; bottom:-1px;
            width:calc(100% - 180px); height:1px;
            background: #000;
        }*/
    }

    // 서브 네비게이션이 열렸을 경우
    @at-root  body.opened-navi &{
        > .inner-wrap{height:75px;}
        .overlay{
            height:100%;
        }
    }

    .hlogo{
        position: absolute; left:0; top:0; z-index: 110;
        width:141px;
        > a {
            display: block;
            width:100%;
            padding:22px 50px;
            box-sizing: content-box;
            &:after{
                display: block;
                width:150px; height:33px;
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size:contain ;
                @include img-retina('/assets/images/common/etc/logo_lexus.png', '/assets/images/common/etc/logo_lexus@2x.png');

            }
        }
    }


    .overlay{
        @extend %overlay;
        height:inherit;
    }
}


