@charset "utf-8";

//fontFace 생성
$tmp-count:0;
@each $font-key, $font-name in $fonts-face-custom {
  $font-path  : $web-font-path + $font-name;

  @font-face {
    font-family: $font-key;
    src: url($font-path + '.woff2') format('woff2'), //chrome
    url($font-path + '.woff') format('woff'), // Modern Browsers
    url($font-path + '.ttf') format('truetype'); // Safari, Android, iOS
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
  }
  $tmp-count: $tmp-count+1;
}



