@charset "utf-8";
// Buttons module

// * 주석 가이드*
//##  메인 카테고리
//#서브 카테고리
//**  카테고리 설명

//## 기본 버튼
%inc-icon{

}
.btn-base{
    display: inline-block;
    position: relative;
    height: calc-unit(33px);
    font-size:0;  color:#000; line-height: calc-unit(33px);
    text-align: center;  vertical-align:top; text-indent: 0;
    overflow: hidden;

    &:before{

    }

    > span{
        display: inline-block;
        position: relative;
        font-size: calc-unit(12px);
        vertical-align: middle;
        pointer-events:none;
    }

    // 아이콘을 포함할때
    &.only-icon{
        // 아이콘만 존재하는 버튼
        min-width:0;
        > span {
            @extend .blind;
        }
    }
    &.inc-icon{
        // 아이콘과 텍스트를 포함한 버튼
        > span { }
        .tag-label{
            width: 2em; height: 2em;
            border-radius: 50%;
            margin:0 0.2em 0 -0.11em;
            line-height: 2em; vertical-align: middle !important;

        }
    }
}


.btn-capsule{
    @extend .btn-base;
    height:32px;
    line-height: 32px;
    border:1px solid #D4D4D4;
    border-radius: 16px;
    padding:0 20px;

    > span{
        margin-top:calc-unit(-2px);
    }

    &.inc-icon{
        .tag-label{
            width: 2em; height:2em;
            border-radius: 50%;
            margin:-0.2em 0.4em 0;
            font-size: 10px; line-height: 2em; vertical-align: middle !important;

        }
    }
}

//## 사각형 버튼
.btn-square{
    @extend .btn-base;
    min-width:calc-unit(156px); height:calc-unit(34px);
    line-height:calc-unit(34px);
    padding:0 calc-unit(20px);
    border:1px solid #D4D4D4;
    @include font('', 12px);
    color:#000;
    > span {
        margin-top:-1px;
        vertical-align:top;
    }
}

//## 원형 플레이 버튼
.btn-play{
    width:calc-unit(60px); height:calc-unit(60px);
    border: calc-unit(2px) solid #000;
    border-radius: 50%;
    text-align:center;
    &:after{
        display: inline-block;
        position: absolute;  top: 50%; left: 50%;
        border-left:calc-unit(10px) solid #000;
        border-top: calc-unit(6px) solid transparent;
        border-bottom:calc-unit(6px) solid transparent;
        margin: -(calc-unit(6px)) 0 0 -(calc-unit(3px));
    }
}

//## 보통 버튼
.btn-lax {
    min-width:calc-unit(164px);
    height:calc-unit(57px);
    line-height:calc-unit(57px);
    padding:0 calc-unit(30px);
    border-color:#000;
    background-color:#fff;
    color:#000;
    @include font('bold', 12px);
    span {
        margin-top:-2px;
    }
}

//## 강조 버튼
.btn-square.btn-stress {
    min-width:calc-unit(164px); height:calc-unit(57px);
    line-height:calc-unit(57px);
    padding:0 calc-unit(30px);
    border:2px solid #000;
    //background-color:#000;
    color:#fff;
    @include font('bold', 12px);
    span {
        margin-top:-2px;
    }
}

//## 빅사이즈 특수 버튼
.btn-square.btn-big,
.btn-square.btn-bigger{
    width:100%;
    min-width:calc-unit(165px); height:calc-unit(60px);
    padding: 0 calc-unit(55px);
    border:2px solid #000;
    background-color:#fff;
    color:#000;
    line-height:calc-unit(60px);
    @include font('bold', 15px);
    span {
        @include font('bold', 15px);
        margin-top:-2px;
    }

    // 외부 링크 아이콘 포함 시
    .icon-outlink {
        padding-left:2px;
        margin-top:calc-unit(-6px);
        @include font($font-size:9px);
        vertical-align:middle !important;
    }
    // 다운로드 아이콘 포함 시
    .icon-down {
        padding-left:2px;
        margin-top:calc-unit(-10px);
        @include font($font-size:9px);
        vertical-align:middle !important;
    }
}
.btn-square.btn-big-bk {
    min-width:calc-unit(165px); height:calc-unit(60px);
    border:2px solid #fff;
    color:#fff;
    line-height:calc-unit(60px);
    @include font('bold', 15px);
    span {
        @include font('bold', 15px);
        margin-top:-2px;
    }

    // 외부 링크 아이콘 포함 시
    .icon-outlink-w {
        padding-left:2px;
        margin-top:calc-unit(-6px);
        @include font($font-size:9px);
        vertical-align:middle !important;
    }
    // 다운로드 아이콘 포함 시
    .icon-down-w {
        padding-left:2px;
        margin-top:calc-unit(-10px);
        @include font($font-size:9px);
        vertical-align:middle !important;
    }
}
.btn-square.btn-bigger{
    display: block;
    width:auto;
    margin: calc-unit(0 15px);
    background: #fff !important;
    color:#000;
}


//## 비활성화 버튼
.btn-inactive {
    border-color:#D4D4D4 !important;
    background-color:#fff !important;
    color:#D4D4D4 !important;
    pointer-events:none;
    cursor:default;
}

//## 라운드형 버튼(참조용)
%btn-rounded{
    display: inline-block;
    height:calc-unit(32px);
    padding:calc-unit(0 12px);
    border:1px solid #D4D4D4;
    border-radius: 0.4em;
    @include font('', 12px,2.7);
    vertical-align: middle;
    white-space: nowrap;
    letter-spacing: 0.08em;
}

%hilight-style{
    border-color:#95989A;
    @include font(bold);
}

.btn-group{display:block; }


// 컬러 정의
.btn-base.on{background-color: #000 !important; color:#fff !important;} //toggle 버튼에 대하여  활성상태
.btn-square.on{border-color:#000 !important; z-index: 1 !important;}
// .btn-square:focus{border-color:#000 !important; background-color:#000 !important; color:#fff !important;; z-index: 1 !important;}
// .btn-stress:focus {border-color:#000 !important; background-color:#fff !important; color:#000 !important;}
// .btn-big-bk:focus {border-color:#fff !important; background-color:#fff !important; color:#000 !important;}

.btn-base.stress{background-color: #048f8a;}
.btn-base.lax{background-color: #495c68;}
.btn-base.cancel{background-color: #6c777c;}

.btn-base.hot{background-color: #be191a;}
.btn-base.changeover{background-color: #fff; color:#94a3aa;}
.btn-base.inactive{opacity: 0.3; color:rgba(255, 255, 255, 0.6); pointer-events:none;}
.btn-base.changeover.btn-inactive{color:rgba(0,0,0,0.3) !important;}
