@charset "utf-8";

// Form 스타일

// * 주석 가이드*
//##  메인 카테고리
//== 서브 카테고리
//**  카테고리 설명

.wrapper {
    padding: calc-unit(15px) !important;
}

input[type="tel"],
input[type="text"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"],
select {
    position: relative;
    width: 100%;
    height: calc-unit(57px);
    padding: 0 calc-unit(20px);
    border: 1px solid #000;
    @include font('', 12px, 1.25);
    color:#000;
    vertical-align: top;
    &:checked {
        border: 1px solid #1D1DC5 !important;
    }
    &:focus {
        border: 1px solid #1D1DC5 !important;
        position: relative;
        z-index: 2;
    }
}

input[type="submit"], input[type="reset"]{
    &:focus {
        border:1px solid $color-feed !important;
        position:relative;
        z-index:1;
    }
}

textarea{
    width:100%;
    padding: calc-unit(22px 20px);
    border: 1px solid #000;
    @include font('', 12px, 1.25);
    &:focus {
        border:1px solid $color-feed !important;
        outline:none;
    }
}

//== 커스텀 스타일 (셀렉트박스)
.select-wrap {
    display: block;
    position: relative;
    select {
        display: block;
        width: 100%;
        height: calc-unit(57px);
        @include font('', 12px, 3.8);
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-size:auto 100%;
        background-image: url("/assets/images/common/icons/m_icon_select_arr_down.png");
        background-repeat: no-repeat;
        background-position: right center;
        &::-ms-expand {
            display: none;
        }
    }
    // custom example
    select.email-select {
        position: relative;
        $boxW: calc-unit(144px); // only change
        width: $boxW;
    }
}

// 셀렉트 박스 div 타입
.select-type-div {
    display:block;
    width:100%;
    height: calc-unit(57px);
    padding: 0 calc-unit(20px);
    border: 1px solid #000;
    @include font('', 12px, 57px);
}

.chk-group {
    position: relative;

    .custom-chk {
        display: inline-block;
        input[type="checkbox"] {
            position: absolute;
            left: -999px;
        }
        input[type="checkbox"] + label {
            display: inherit;
            @include font($font-size: 12px);
            vertical-align: middle;
            span {
                display: inherit;
            }
            &:before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                background-color: #fff;
                border: 1px solid #C7C7C7;
                box-sizing: border-box;
            }
        }
    }
}

//== 커스텀 인풋(체크박스, 라디오)
.custom-chk-rdo {
    position: relative;
    display: inline-block;
    margin-right: calc-unit(13px);
    line-height: 11px;
    vertical-align: middle;
    overflow: hidden;
    cursor: default;
    margin-top: calc-unit(20px);
    padding-bottom: 2px;

    input[type="radio"], input[type="checkbox"] {
        position: absolute;
        margin-left: -16px;
        z-index: -1;
    }
    label {
        display: inline-block;
        position: relative;
        padding-left: calc-unit(30px);
        color: #000;
        font-size: 0;
        line-height: 11px;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;

        &:before {
            display: inline-block;
            margin-left: calc-unit(-30px);
            background-color: #fff;
            vertical-align: middle;
            content: '';
        }
        &:after {
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            content: '';
        }
        span {
            //display: inherit;
            margin-left: calc-unit(10px);
            @include font('regular', 12px, 1.6);
            vertical-align: middle;
        }
    }
    input:disabled + label {
        &:before, &:after {
            opacity: 0.3;
        }
        span {
            color: #aaa;
        }
    }
}

/*.custom-chk-rdo input[type="radio"] + label {
    &:before {
        width: 20px;
        height: 20px;
        border: 1px solid #000;
        border-radius: 50%;
    }
    &:after {
        left: 5px;
        top: 5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #f00;
    }
}

.custom-chk-rdo input[type="radio"]:checked + label {
    &:before {
        border: 3px solid #f00;
    }
    &:after {
        display: inline-block;
    }
}*/

.custom-chk-rdo input[type="radio"] + label,
.custom-chk-rdo input[type="checkbox"] + label {
    &:before {
        width: calc-unit(20px);
        height: calc-unit(20px);
        background-color: #fff;
        border: 1px solid #000;
        box-sizing: border-box;
    }
    &:after {
        display: none;
        width: calc-unit(20px);
        height: calc-unit(20px);
        top:-1px;
        left:0;
        border: none;
        border-radius: 0;
        box-shadow: none;
        background: url("/assets/images/common/icons/icon_chk_red.svg") 0 0 no-repeat;
        background-size: contain;
        @at-root .no-svg & {
            background: url("/assets/images/common/icons/icon_chk_red.png") 0 0 no-repeat;
        }
    }
}

.custom-chk-rdo input[type="radio"]:checked + label,
.custom-chk-rdo input[type="checkbox"]:checked + label {
    &:before {
        //background-color: #000;
    }
    &:after {
        display: inline-block;
    }
}

.custom-chk-rdo.multi-line input + label {
    white-space: normal;
}

.custom-chk-rdo.multi-line input + label span {
    margin-top: 0;
    line-height: 1.3;
}

.type-new-desc {
    position: relative;
    margin-top: calc-unit(25px);
    @include font('regular', 12px, 1);
}
.type-new-desc.require:after {
    display: inline-block;
    position: relative;
    width: 3.3333333333vw;
    height: 3.3333333333vw;
    top: -.2777777778vw;
    left: auto;
    margin-left: 1.3888888889vw;
    vertical-align: middle;
    background: url("/assets/images/common/icons/icon_asterisk_big.svg") 0 0 no-repeat;
}

.custom-chk-rdo.type-new {
    width: 100%;
    margin-top: 0;
    overflow: visible;

    .btn-detail-view {
        top: calc-unit(-15px)!important;
    }
    .alert-holder {
        display: block;
        margin: calc-unit(6px 0 9px);
        padding-top: 0;
    }
    label {
        &:nth-of-type(2) {margin-left: calc-unit(14px);}
    }
}

.custom-chk-rdo.type-new.dp-none-pc {
    width: 100%;
    margin-top: calc-unit(25px);
    margin-bottom: calc-unit(50px);
    padding-bottom: calc-unit(33px);
    border-bottom: 1px solid #d4d4d4;

    .btn-detail-view {
        top: 0!important;
    }
}

.form-group.align-right {
    display: block;
    text-align: right;
}

.form-group.align-right .custom-chk-rdo {
    margin-right: 0;
    margin-left: 10px;
}

/* 우측 정렬일때 */

//-- 인풋 필드
.form-group {
    display: inline-block;
    vertical-align: middle;
}

.inputs-wrap {
    position: absolute;
    width: 300px;
    height: 40px;
    top: 0;
    left: 0;
    border-radius: 5px;
    font-size: 24px;
    line-height: 40px;
    text-align: right;
    background: #fff;
}

.inputs-wrap .type-unit {
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    right: 0;
    padding: 0 18px 0 12px;
    border: none;
    outline: none;
    background: transparent;
    line-height: inherit;
    text-align: right;
    color: #454a4d;
    z-index: 10;
}

.inputs-wrap .type-unit::-webkit-input-placeholder {
    color: #454a4d;
}

.inputs-wrap .type-unit span {
    display: inline-block;
    vertical-align: middle;
    color: #000;
}

.inputs-wrap .type-unit .txt-value {
    visibility: hidden;
    font-weight: 100;
}

.inputs-wrap .type-unit .currency {
    padding-right: 5px;
    font-size: 16px;
    font-weight: 700;
}

//== 커스텀 스타일 (약관 및 수집 내용을 위한 텍스트박스)
.custom-txtarea {
    width: inherit;
    height: calc-unit(100px);
    min-height: calc-unit(100px);
    padding: calc-unit(5px) 0 calc-unit(5px) calc-unit(20px);
    border: 1px solid #C7C7C7;
    background-color: #fff;
    box-sizing: border-box;

    .inner-area {
        width: 100%;
        height: 100%;
        padding-top: calc-unit(15px);
        padding-right: calc-unit(20px);
        overflow-y: auto;
        margin-bottom: calc-unit(20px);
        font-size: calc-unit(12px);
        line-height: 1.6;
        &:focus{
            outline:1px solid rgba(#fff, 0.01);
        }
        
        br{
            display: block;
        }
    }
    .btn-wrap { //모바일전용 텍스트필드 팝업 닫기버튼
        position: absolute;
        top: 50%;
        margin-top: calc-unit(-226px);
        right: 10px;
    }
}


