@charset "utf-8";

//임시
.wrapper {
    min-width:100% !important;
    & > div {width: 100% !important; min-width: 100% !important;}
}

// temp
.include-list-mod {@include font($font-size:0);}

// 모델 풀사이즈 레이아웃
.mod-full-size {
    position: relative; width: 100%; padding-top: 50%;
    .mod-contained-bg {display: block; position: absolute; top:0; left:0; width: 100%; height: 0; padding-top: 50%;}
    .inner-wrap {
        width: 100%;
        .txt-holder {
            padding: calc-unit(23px) calc-unit(26px) calc-unit(49px); @include font('', 12px, 1.6); color: #000; z-index: 2;
            dt {font-weight: bold;}
            dd {margin-top: calc-unit(14px);}
        }
    }
}

// 모델 하프사이즈x2 레이아웃
.mod-half-x2-size {
    position: relative; width: 100%;
    .mod-contained-bg {display: block; position: absolute; top:0; left:0; width: 100%; height: 0; padding-top: 100%;}
    .inner-wrap {
        width: 100%; padding-top: 100%;
        .txt-holder {
            padding: calc-unit(23px) calc-unit(26px) calc-unit(49px); @include font('', 12px, 1.6); color: #000; z-index: 2;
            dt {font-weight: bold;}
            dd {margin-top: calc-unit(14px);}
        }
    }

    &.txt-2x-type {
        .inner-wrap {
            width: 91.66%; padding-top: 0; margin: 0 auto;
            .txt-holder {margin: calc-unit(15px) 0 calc-unit(26px); padding: 7.878% 7.878% 135.65%; border: 1px solid #000;}
            dl {
                dt {
                    position:relative; @include font(kr-regular, 17px, 1.6); font-weight: normal; //padding-bottom:7.8%;
                    //&:after {content:''; display:block; position:absolute; width:100%; height:1px; bottom:0; left:0;background-color:#000;}
                }
                dd {
                    margin-top:6.2%;
                }
            }
            dl:first-child  {
                margin-bottom:8%;
                dt {
                    padding:0; @include font(kr-regular, 12px, 1.6);
                    &:after {display:none;}
                }
                dd {
                    margin-top: 0.57vw; margin-bottom: 5.402%; @include font(en-x-regular, 17px, 1.6);
                }
            }
        }
        figure { position: absolute; top: auto; bottom: calc-unit(50px); left: 0;}
    }
}

// 모델 하프사이즈 레이아웃
.mod-half-size {
    position: relative; width: 100%;
    .mod-contained-bg {display: block; position: absolute; top:0; left:0; width: 100%; height: 0; padding-top: 100%;}
    .inner-wrap {
        width: 100%; padding-top: 100%;
        .txt-holder {
            padding: calc-unit(23px) calc-unit(26px) calc-unit(49px); @include font('', 12px, 1.6); color: #000; z-index: 2;
            dt {font-weight: bold;}
            dd {margin-top: calc-unit(14px);}
        }
    }
}

/* 표준 연비 - 테이블 타입 : .mod-std-mile */
.mod-std-mile {
    display:block; position:relative; width:91.666%; margin: calc-unit(26px) auto calc-unit(50px); padding: calc-unit(26px 26px 0); border:1px solid #000; text-align: center;
    dl {
        display:inline-block; width:100%; padding:calc-unit(0 0 59px); font-size:0;
        dt, dd {
            display:inline-block;
            @include font($font-size:12px);
            vertical-align:top;
        }

        dt {
            position:relative; width:48.4%; padding-right:calc-unit(10px); text-align:left; line-height: 1.6;
            &:after {
                content:''; display:none; position:absolute; width:90px; height:1px; right:20px; top:50%; background-color:#999;
            }

            span {
                display:block;
                &.rating{
                    color:red;
                }
            }
        }
        dd {
            width:51.6%; text-align:left;
        }
    }

    ul {
        width:100%;
        font-size: 0;
        text-align: left;
        li {
            display: inline-block;
            width: 50%;
            margin-top: calc-unit(25px);
            @include font($font-size:12px);
            vertical-align: top;

            strong {
                display:block;
                padding-bottom: 0;
                font-size: calc-unit(15px);
            }
            p {line-height:1.6;}

            &.col-fir {margin-top: 0; }
        }
    }

    p.notice  {
        position:relative; width: calc(100% - 2.2vw); margin-left: 2.2vw; padding: calc-unit(0 0 25px);
        @include font($font-size:6px); line-height: 1.5; text-align:left;
        &:before {display: block; content: '※'; position: absolute; top:0; right: 101%;}
    }
}

/* 구매 혜택 - 리스트 타입 : .mod-purchase-benefit */
.mod-purchase-benefit {
    dl {
        dt {margin: calc-unit(31px) 0 calc-unit(24px); @include font('bold', 15px, 1);}
        dd {@include font('regular', 15px ,1.6);}
    }
    &:first-child{
        dl{
            dt {margin-top: 0;}
        }
    }
}

/* 구매 혜택 - 테이블 타입 : .mod-purchase-benefits  */
.mod-purchase-benefits {
    display:block; position:relative; width:100%; border:1px solid #000; text-align:center; //margin: calc-unit(26px) 0;
    dl {
        display:inline-block; width:100%; padding:calc-unit(30px) calc-unit(30px) calc-unit(50px); font-size:0;
        dt, dd {
            display:inline-block;
            @include font($font-size:12px);
            vertical-align:top;
        }

        dt {
            position:relative; width:48.4%; padding-right:calc-unit(10px); text-align:left;
            &:after {
                content:''; display:none; position:absolute; width:90px; height:1px; right:20px; top:50%; background-color:#999;
            }
            &:first-child {display:none;}
        }
        dd {
            width:100%; text-align:left;
        }
    }

    ul {
        li {
            margin-top:calc-unit(20px);
            @include font($font-size:15px);

            strong {display:block; padding-bottom:calc-unit(16px);}
            p {line-height:1.6;}

            &:first-child {margin-top:0;}
        }
    }
}

//모델 스펙 테이블
.mod-spec-table {
    width: 100%; border-top: 1px solid #000; border-bottom: 1px solid #000; border-collapse: separate;
    tr {
        border-top: 1px solid #ebebeb; @include font('regular', 12px, 1.5, #000);
        th {width: 34.78%; padding: calc-unit(15px) calc-unit(12px) calc-unit(18px) 0; border-top: 1px solid #ebebeb; border-right: 1px solid #d4d4d4; text-align: right; background-color: #f8f8f8;}
        td {width: 75%; padding: calc-unit(15px) 0 calc-unit(18px) calc-unit(20px); border-top: 1px solid #ebebeb;}
        &:first-child {
            th {border-top: 1px solid transparent;} td {border-top: 1px solid transparent;}
        }
        &:nth-child(2n+1){
            background-color: #f5f5f5;
            th { background-color: #f5f5f5;}
        }
    }
}

//모델 스펙 아코디언
.mod-spec-accordion {
    margin-top: 0!important; padding: 0!important;
    .mob-only {@include font('regular', 10px, 1, #95989a); text-align: right;}
    dt {
        button {
            position: relative; width: 100%; height:calc-unit(65px); padding:calc-unit(0 15px); @include font('regular', 15px, 65px, #000); text-align: left;
            /*padding: calc-unit(26px) calc-unit(20px) calc-unit(29px);*/
            &:before {
                display: block; position: absolute; top:50%; right:calc-unit(20px); width: 21px; height: 12px; margin-top: -6px;
                background: url('/assets/images/common/icons/icon_arrow_down.svg') 0 0 no-repeat;
                @at-root .no-svg & {
                    background-image: url('/assets/images/common/icons/icon_arrow_down.png');
                }
            }
            &:after {display: block; position: absolute; top:0; left: 0; width: 100%; height: 1px; background: #000;}
        }
    }
    dd {
        overflow: hidden; height: 0;
        table {
            width: 100%; margin-bottom: calc-unit(20px); @include font('regular', 12px, 1, #000); border-top: 1px solid #d4d4d4; border-bottom: 1px solid #d4d4d4; border-collapse: separate; border-spacing: 0;
            thead {
                position: relative; //border-bottom: 1px solid #000;
                th {
                    width: 8.13%; padding: calc-unit(15px 0 18px); text-align: center; background-color: #f5f5f5; color: #95989a;
                    &:first-child {width: 63.4%; border-left: none;}
                }
                //&:after {display: block; content: ''; width: 200%; height:1px; background-color: #000;}
            }
            tbody {
                //border-top: 1px solid #000; border-collapse: collapse;
                tr{
                    &:nth-child(2n){background-color: #f5f5f5;}
                }
                th {width: 63.4%; padding: calc-unit(15px) 0 calc-unit(18px) calc-unit(10px); line-height: 1.3; text-align: left;}
                td {
                    width: 8.13%; text-align: center; //border-left: 1px solid #d4d4d4;
                    .tag-label {
                        font-size: 11px;
                        &:before {display: block; position: absolute; top: 50%; left: 50%; content: ''; width: calc-unit(10px); height: 1px; background-color: #000; background-position: 50% 50%; transform: translateX(-50%) translateY(-50%);}
                        &.icon-chk-bk:before {width: calc-unit(8px); height: calc-unit(8px); border-radius: 50%; background-color: transparent; border: 1px solid #000; background-image: none;}
                    }
                }
            }
            &.col-5 {
                thead {
                    th{
                        &:first-child {width: 75.6%;}
                    }
                }
                tbody {
                    th {width: 75.6%;}
                }
            }
            &.col-4 {
                thead {
                    th{
                        &:last-child {display: none}
                        &:first-child {width: 83.73%;}
                    }
                }
                tbody {
                    th {width: 83.73%;}
                    th+td+td+td+td {display: none;}
                }
            }
            &.col-3 {
                thead {
                    th{
                        &:last-child {display: none}
                        &:first-child {width: 83.73%;}
                    }
                }
                tbody {
                    th {width: 83.73%;}
                    th+td+td+td,
                    th+td+td+td+td {display: none;}
                }
            }
            &.col-2 {
                thead {
                    th{
                        &:nth-child(3),
                        &:last-child {display: none}
                        &:first-child {width: 91.86%;}
                    }
                }
                tbody {
                    th {width: 91.86%;}
                    th+td+td,
                    th+td+td+td,
                    th+td+td+td+td {display: none;}
                }
            }
        }
    }

    &.opened {
        .mob-only {
            padding: calc-unit(9px) 0;
            span {margin-right: 4.6778vw;}
        }
        dt{
            //border-bottom: 1px solid #d4d4d4;
            button {
                &:before {height:1px; margin-top: -1px; background: #000;}
                //&:after {height: 3px;}
            }
            &:after {border-top: 3px solid #000;}
        }
        dd {
            height: auto;
        }
    }

    &:last-child {
        dt {border-bottom: 1px solid #000;}
        dd {
            table {margin-bottom: 0;}
        }
    }
    &.opened:last-child {
        dt {border-bottom: none;}
    }
}

